<div class="<%= requirement.name %>">
  <% if requirement.respond_to?(:state) and requirement.state != 'visible' %>
    <span class="state"><%= admin_state(requirement, :controls => false) %></span>
  <% end %>

  <%= requirement %>
</div>
