h1.title {font-size: 18px; color: #3B5998; margin: 15px 0px;}
h2,h3 {font-size: 16px; color: #3B5998; margin-bottom: 7px;}
td {vertical-align: top;}

/* A block that got displayed during AJAX request */
#spinner {position: absolute; top:150px; left: 300px; width: 150px; height: 50px; border: 1px solid #6D84B4; padding: 5px; background-color:white; z-index:1000;}
  #spinner img {float:left; margin-right: 10px;}

#admin_menu {margin: 10px; padding: 10px; border: 1px solid green;}
  #admin_menu a { margin: 0 5px; }

.empty_set, .note {margin: 10px 0px; padding: 8px; border: 1px solid #D8DFEA;}
.note {font-size: 14px;}

.nobutton .button {display: none !important;}

/* Flash messages */
#flash {height: 40px; line-height: 40px; text-align: center; font-size: 17px; font-weight: bold; margin: 5px 0;}
  #flash.success {color: #338833; border: 1px solid #338833; background-color: #d0ffd0;}
  #flash.error {color: #883333; border: 1px solid #883333; background-color: #ffd0d0;}
  #flash.notice {color: #336788; border: 1px solid #336788; background-color: #d0efff;}

/* Page Switcher */
.pagination {margin: 10px 0px; text-align: right;}
  .pagination .disabled {display:none;}
  .pagination a, .pagination span {border: 1px solid #3b5998; padding: 3px;}
  .pagination a:hover {background-color: #d8dfea;}
  .pagination .current {background-color: #d8dfea; font-weight:bold; color: #3b5998;}

/* Default form styles */
form .required {color: red; padding-left: 5px;}
form .field {margin-bottom: 5px;}
  form .field .label {margin-bottom: 3px;}
  form .field label {color: #3b5998;}
form .fieldWithErrors {display:inline;}
  form .fieldWithErrors select{border: 1px solid #ee5555;}
  form .fieldWithErrors input{border: 1px solid #ee5555;}
  form .fieldWithErrors textarea{border: 1px solid #ee5555;}
form .error {color: red; padding: 3px 0px;}

#logo {float: left; display:block; width: 200px; height: 75px; background: transparent url(logo_200x60.jpg) no-repeat;}

#header {border-bottom: 1px solid #d0d0d0;}

#main_menu {float:right;}
  #main_menu a {display: block; height: 25px; line-height: 25px; font-weight:bold; padding: 0 10px 0 30px; background-position: 8px center; background-repeat: no-repeat; border: 1px solid white;}
  #main_menu a:hover {border-color: #d0d0d0;}
    #main_menu a.home {background-image: url(icons/home.gif);}
    #main_menu a.settings {background-image: url(icons/settings.gif);}
    #main_menu a.profile {background-image: url(icons/profile.gif);}
    #main_menu a.missions {background-image: url(icons/missions.gif);}
    #main_menu a.fights {background-image: url(icons/fights.gif);}
    #main_menu a.inventory {background-image: url(icons/inventory.gif);}
    #main_menu a.shop {background-image: url(icons/shop.gif);}
    #main_menu a.alliance {background-image: url(icons/alliance.gif);}
    #main_menu a.rating {background-image: url(icons/rating.gif);}
    #main_menu a.properties {background-image: url(icons/properties.gif);}
    #main_menu a.vip_money {background-image: url(icons/vip_money.gif);}

/* Character overview block (below main menu) that displays user health, energy, experience, level, etc. */
#co {clear:both; border-top: 1px solid #d0d0d0; width: 100%}
  #co td {line-height: 25px; padding-bottom: 5px;}
  #co div.value {height: 20px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    #co_basic_money {background-image: url(icons/basic_money.gif);}
    #co_vip_money {background-image: url(icons/vip_money.gif);}
    #co_level {background-image: url(icons/level.gif);}
    #co_experience {background-image: url(icons/experience.gif);}
    #co_health {background-image: url(icons/health.gif);}
    #co_energy {background-image: url(icons/energy.gif);}
  #co_points a {font-weight: bold;color:red;}
  #co .timer {color: #b0b0b0; float:right; padding-right: 10px;}
  #co .basic_money {width: 160px;}
  #co .level {width: 70px;}
  #co .experience {width: 150px;}
    #co_experience_bar {border: 1px solid #d0d0d0; margin: -4px 10px -2px 0;}
      #co_experience_percentage {height: 4px; background-image: url(progress.gif);font-size: 0px;}

/* Tip block */
#tip {padding: 10px; border-top: 1px solid #d0d0d0; text-align:center;}
  #tip .label {font-weight: bold;}

/* Generic block with 'Hide' link*/
.block {margin: 10px 0px;padding: 8px;}
  .block h2 { margin-bottom: 15px;}
  .block .hide {float: right; padding-left: 14px; background: transparent url(icons/hide.gif) no-repeat center left;}

/* Next Steps block*/
#next_steps { border: 1px solid #EC7000; background-color: #FFFFD5;}
  #next_steps h2 {color: #EC7000;}
  #next_steps .step {font-size: 14px; font-weight: bold; margin-bottom: 15px; padding-left: 25px; background: transparent url(icons/step.gif) no-repeat top left; }
  #next_steps .fbml_add_profile_button {margin-top: 10px;}

/* Fan Specials block */
#fan_specials { border: 1px solid #3ebace; background-color: #f1f7fa;}
  #fan_specials h2 {color: #003f95;}
  #fan_specials .link {display: block; margin: 5px auto; width: 116px;}
#bookmark {border: 1px solid #e0e0e0;}
  #bookmark img {vertical-align:middle; margin-left: 10px;}
  #bookmark p {font-weight: bold; margin: 0;}

.controls a {display: block; padding: 5px 5px 5px 25px; margin: 5px; border: 1px solid #3B5998; font-weight:bold; background: url(1px.gif) 3px center no-repeat; float: right; clear: both;}
  .controls a:hover {background-color: #e0e0e0;}

/* A block of character attributes displayed at home page and at the profile page */
.character_attributes {padding: 0; }
  .character_attributes tr {height: 25px; line-height: 25px;}
  .character_attributes th {padding-right: 15px;}
  .character_attributes .value {padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    .character_attributes .attack .value {background-image: url(icons/attack.gif);}
    .character_attributes .defence .value {background-image: url(icons/defence.gif);}
    .character_attributes .health .value {background-image: url(icons/health.gif);}
    .character_attributes .energy .value {background-image: url(icons/energy.gif);}
    .character_attributes .basic_money .value {background-image: url(icons/basic_money.gif);}
    .character_attributes .vip_money .value {background-image: url(icons/vip_money.gif);}

/* Character stats displayd at profile page */
.character_statistics tr {height: 25px; line-height: 25px;}
  .character_statistics th {padding-right: 15px;}

#dashboard {width: 100%;}
  #dashboard .profile {width: 250px; padding-right: 10px;}

/* A list of latest user fights displayed at home page */
#fight_list td {padding: 10px 0;border-bottom: 1px solid #d0d0d0;}
  #fight_list .fight {clear: both; margin: 5px 0; }
  #fight_list .attacker {width: 60px; text-align:left;}
    #fight_list .attacker img {border: 1px solid #d0d0d0;}
  #fight_list .victim {width: 60px; text-align:right;}
    #fight_list .victim img {border: 1px solid #d0d0d0;}
  #fight_list .time {font-weight: bold; margin-bottom: 5px;}
  #fight_list .attr {line-height: 20px; padding: 2px 0px 2px 21px; background-position: left center; background-repeat: no-repeat;font-weight:bold;}
    #fight_list .basic_money { background-image: url(icons/basic_money.gif); }
    #fight_list .health { background-image: url(icons/health.gif); }
    #fight_list .experience { background-image: url(icons/experience.gif); }
  #fight_list .respond {background-image: url(icons/attack.gif); }

/* Latest help request block */
#latest_help_request {padding: 10px; margin-bottom: 15px; border: 1px solid #e7e7e7; font-size: 12px;}
  #latest_help_request .basic_money{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(icons/basic_money.gif) center left no-repeat; font-weight: bold;}
  
/* Mission list displayed at Missions page */
#mission_list th {padding: 10px 0px; border-bottom: 1px solid #d0d0d0; }
  #mission_list .mission_group {font-size: 16px; color: #3B5998; font-weight: bold;}
#mission_list td {padding: 10px 0px; border-bottom: 1px solid #e7e7e7;}
  #mission_list .details {padding-right: 10px;}
  #mission_list .details .name {font-size: 14px; margin-bottom: 5px;font-weight: bold;}
  #mission_list .payout {width: 100px;}
    #mission_list .payout div {height: 25px;line-height: 25px;padding-left: 21px;}
      #mission_list .payout .basic_money { background: url(icons/basic_money.gif) center left no-repeat;}
      #mission_list .payout .experience { background: url(icons/experience.gif) center left no-repeat;}
  #mission_list .requires {width: 100px;}
    #mission_list .requires .energy {height: 25px;line-height: 25px;padding-left: 21px; background: url(icons/energy.gif) center left no-repeat;}
    #mission_list .requires .item {float:left;}
    #mission_list .requires .not_satisfied img{border: 3px solid #ff5353;}
  #mission_list .progress .bar{width: 100px; border: 1px solid #d0d0d0;}
    #mission_list .progress .percentage {height: 10px; font-size: 0px; background-image: url(progress.gif);}
    #mission_list .progress .completed {height: 10px; background-image: url(progress_completed.gif);}
  #mission_list .controls a { background-image: url(icons/missions.gif);}

/* Announce of next missions displayed at Missions page */
#next_mission_group {margin-top: 30px;}
  #next_mission_group p {border: 1px solid #d0d0d0; padding: 10px; }
  #next_mission_group .level {font-size: 14px; font-weight: bold;}

/* Item list displayed at Shop page*/
.item_list {width: 100%}
.item_list td{padding: 10px 0; border-bottom: 1px solid #d0d0d0;}
  .item_list .picture {padding-right: 10px;}
  .item_list .info {padding-right: 10px;}
  .item_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  .item_list .details {width: 40px;}
    .item_list .details div {font-weight:bold;line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
      .item_list .details .attack {background-image: url(icons/attack.gif);}
      .item_list .details .defence {background-image: url(icons/defence.gif);}
      .item_list .details .restore_health{background-image: url(icons/health.gif);}
      .item_list .details .restore_energy{background-image: url(icons/energy.gif);}
      .item_list .details .upgrade{background-image: url(icons/level.gif);}
  .item_list .requires {width: 50px;}
    .item_list .requires div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
      .item_list .requires .basic_price{background-image: url(icons/basic_money.gif);}
      .item_list .requires .vip_price{background-image: url(icons/vip_money.gif);}
  .item_list .spacer {border:0;}
  .item_list .controls a.buy {background-image: url(icons/basic_money.gif);}
  .item_list .controls a.buy_vip {background-image: url(icons/vip_money.gif);}

#special_items {background-color: #FFFFD5; border: 1px solid #EC7000; margin-bottom: 10px}

#next_item {margin-top: 30px; border: 1px solid #d0d0d0; padding: 10px; font-size: 14px}
  #next_item .level {font-size: 14px; font-weight: bold;}

/* Inventory container */
#inventory {width: 100%;}

/* Item list displayed at Inventory page*/
#inventory_list {margin-top: 20px;}
#inventory_list td{padding: 10px 0; border-bottom: 1px solid #d0d0d0;}
  #inventory_list .info {padding-right: 10px;}
  #inventory_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  #inventory_list .details {width: 70px;}
    #inventory_list .details div {font-weight:bold;line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
      #inventory_list .details .attack {background-image: url(icons/attack.gif);}
      #inventory_list .details .defence {background-image: url(icons/defence.gif);}
      #inventory_list .details .restore_health {background-image: url(icons/health.gif);}
      #inventory_list .details .restore_energy {background-image: url(icons/energy.gif);}
      #inventory_list .details .upgrade {background-image: url(icons/level.gif);}
  #inventory_list .spacer {border:0;}
  #inventory_list .controls {width: 90px;}
    #inventory_list .controls a {width: 87px;}
    #inventory_list .controls .placement {text-align:right; font-weight: bold; margin: 5px;}
    #inventory_list .controls .sell {background-image: url(icons/basic_money.gif);}
    #inventory_list .controls .place {background-image: url(icons/add.gif);}
    #inventory_list .controls .use {background-image: url(icons/accept.gif);}

/* Character list displayed at the left of inventory list*/
#inventory_holders {width: 200px; float: left; margin-right: 10px;}
  #inventory_holders th {padding: 30px 5px 10px 5px; border-right: 1px solid #d0d0d0;}
  #inventory_holders .holder td {padding: 5px; cursor: pointer;}
    #inventory_holders .holder .image {width: 55px;}
    #inventory_holders .holder .info {border-right: 1px solid #d0d0d0;}
    #inventory_holders .holder .name {font-weight: bold; color: #3B5998;}
    #inventory_holders #self .name {font-size: 14px;}
  #inventory_holders .current td {border-top: 1px solid #d0d0d0;border-bottom: 1px solid #d0d0d0; cursor: auto;}
    #inventory_holders .current .image {border-left: 1px solid #d0d0d0;}
    #inventory_holders .current .info {border-right: 1px solid white !important;}
  #inventory_holders .empty_set {padding-bottom: 25px;}
    #inventory_holders .empty_set .invite {float:right;display:block; margin-top: 7px; font-weight: bold;}

/* Inventory effects block */
#inventory_effects {float:right; }

/* Inventory placements block */
#inventory_placements {margin-left: 210px;}

/* Upgradeable attribute list displayed at Upgrade page*/
#upgrade_list td{padding: 10px; vertical-align: middle;}
#upgrade_list .points td{border-bottom: 1px solid #d0d0d0;}
#upgrade_list .name {font-weight: bold;}
#upgrade_list .value {padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
  #upgrade_attack {background: url(icons/attack.gif);}
  #upgrade_defence {background: url(icons/defence.gif);}
  #upgrade_health {background: url(icons/health.gif);}
  #upgrade_energy {background: url(icons/energy.gif);}
#upgrade_list .controls a {margin-top:0; background-image: url(icons/add.gif);}

/* Opponent list displayed at Fight page */
#victim_list td{padding: 10px 0; border-bottom: 1px solid #d0d0d0;vertical-align:middle;}
  #victim_list .picture {padding-right: 10px;}
  #victim_list .name{ width: 200px;}
  #victim_list .level {width: 80px;}
  #victim_list .relations .larger {color: red;}
  #victim_list .controls a {background-image: url(icons/fights.gif);}
  #victim_list .invitee {color: green;}

/* A list of invitations displayed at home page*/
#invitation_list {width: 100%;}
  #invitation_list td {padding: 5px;vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #invitation_list .picture {width: 55px;}
  #invitation_list .level {width: 70px;}
  #invitation_list .controls .accept {background-image: url(icons/accept.gif)}
  #invitation_list .controls .ignore {background-image: url(icons/delete.gif)}

/* Recruit to Alliance button at Alliance page */
#alliance_recruit { display:block; width: 130px; padding: 5px 5px 5px 25px; border: 1px solid #3B5998; font-weight:bold; background: url(icons/add.gif) 3px center no-repeat;}

/* Alliance member list at Alliance page*/
#alliance_members {}
  #alliance_members td {padding: 5px;vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #alliance_members .picture {width: 55px;}
  #alliance_members .level {width: 70px;}
  #alliance_members .controls .delete {background-image: url(icons/delete.gif)}

/* A block with item placements displayed at the top of Inventory page*/
#placements {position: relative; width: 400px; height: 482px; background: url(placements.gif) no-repeat;}
  #placements span {position:absolute;}
  #placements a {position:absolute; background-color: white; padding: 2px;border: 1px solid #3B5998; font-size: 0px;}
  #placements .head {left: 155px; top:3px;}
    #placements .head .take_off {top: -1px; border-left-color:white;}
  #placements .right_hand {left: 3px; top:111px;}
    #placements .right_hand .take_off {top: -16px; right: -1px; border-bottom-color:white;}
  #placements .left_hand {left: 261px; top:111px;}
    #placements .left_hand .take_off {top: -16px; right: -1px; border-bottom-color:white;}
  #placements .body {left: 132px; top:81px;}
    #placements .body .take_off {top: -16px; right: -1px; border-bottom-color:white;}
  #placements .belt {left: 151px; top:207px;}
    #placements .belt .take_off {top: -1px; border-left-color:white;}
  #placements .legs {left: 132px; top:361px;}
    #placements .legs .take_off {top: -1px; border-left-color:white;}

/* Received title list at the Profile page*/
#rank_list .rank {padding: 3px 25px; background: url(icons/level.gif) 3px center no-repeat;}

/* Tutorial block */
#tutorial {font-size: 15px;}
  #tutorial .button {display:block; text-align: center; width: 100px; margin: 10px; padding: 0 5px;height: 25px; line-height: 25px; border: 1px solid #3B5998; font-weight: bold;}
#skip_tutorial {margin-top: 15px; text-align:right;}

/* AJAX request results block*/
#result {font-size: 13px;margin:10px 0;border: 2px solid #3B5998; padding: 10px 0 20px 0;}
  #result td {padding-right: 15px;}
  #result h2 {margin-top: 10px;}
  #result h3 {font-size: 13px;}
  #result p {font-size: 13px; margin-top: 0;}
  #result .success {color:green;}
  #result .fail {color: red;}
  #result .payouts .label {float:left; width: 100px; font-weight: bold;margin-right: 5px;}
  #result .payouts .payout {line-height: 22px;min-height: 22px; height: 22px; clear: both; padding-bottom: 10px;}
  #result .payouts .value {float:left; line-height: 22px; padding: 0 0 10px 21px; background-position: left 3px; background-repeat: no-repeat;}
    #result .experience .value{background-image: url(icons/experience.gif)}
    #result .basic_money .value{background-image: url(icons/basic_money.gif)}
    #result .energy .value{background-image: url(icons/energy.gif)}
    #result .health .value{background-image: url(icons/health.gif)}
    #result .vip_money .value{background-image: url(icons/vip_money.gif)}
    #result .restore_health .value{background-image: url(icons/health.gif)}
    #result .restore_energy .value{background-image: url(icons/energy.gif)}
    #result .upgrade .value{background-image: url(icons/level.gif)}
    #result .item .value,
      #result .random_item .value {padding-left: 0px;}
  #result .button {display:block; float:right; clear: right; margin: 0 0 10px 10px; padding: 0 5px 0 25px;height: 25px; line-height: 25px; border: 1px solid #3B5998; font-weight: bold; background: url(1px.gif) 3px center no-repeat;}
    #result .button:hover {background-color: #e0e0e0;}
    #result .publish {background-image: url(icons/publish.gif);}

/* Missions result block */
#mission_result {padding:0px 30px; background: url(icons/missions.gif) 5px 0px no-repeat;}
  #mission_result .spent b {width: 55px;}
  #mission_result .spent .zero .value{font-weight: bold; color: green; font-size: 14px;}
  #mission_result .spent .zero .relation {padding-left: 10px;}
  #mission_result .title {line-height: 22px; padding-left: 23px; background: url(icons/level.gif) center left no-repeat; font-size: 14px; margin-bottom: 15px;}
  #mission_result .fulfill_again {background-image: url(icons/missions.gif);}
  #mission_result .request_help {background-image: url(icons/alliance.gif);}
  #mission_result .progress .text {text-align:center;}
  #mission_result .progress .bar{width: 100px; border: 1px solid #d0d0d0;}
    #mission_result .progress .percentage {height: 10px; font-size: 0px; background-image: url(progress.gif);}
    #mission_result .progress .completed {height: 10px; background-image: url(progress_completed.gif);}

/* Mission help result block */
#help_result {padding:0px 30px; background: url(icons/missions.gif) 5px 0px no-repeat;}

/* Fight result block */
#fight_result {padding:0px 30px; background: url(icons/fights.gif) 5px 0px no-repeat;}
  #fight_result .lost b {width: 55px;}
  #fight_result .victim_lost b {width: 55px;}
  #fight_result .attack_again {background-image: url(icons/fights.gif);}

/* Item purchase result block */
#shop_result {padding:0px 30px; background: url(icons/basic_money.gif) 5px 0px no-repeat;}
  #shop_result .inventory {background-image: url(icons/inventory.gif);}

/* Item assignment or usage result block */
#inventory_result {padding:0px 30px; background: url(icons/basic_money.gif) 5px 0px no-repeat;}

/* Character upgrade result block */
#upgrade_result {padding:0px 30px; background: url(icons/add.gif) 5px 0px no-repeat;}

/* Controls at the Profile page */
#character .controls {clear: both;}
  #character .controls a {float: left;}
    #character .controls .attack {background-image: url(icons/fights.gif);}

/* Character list at the Rating page*/
#rating td, #rating th {padding: 5px 10px; vertical-align:middle;}
#rating th {text-align:center; border-bottom: 1px solid #e0e0e0;}
#rating .current {background-color: #FFFFD5;}
  #rating .current td {border-top: 1px solid #EC7000; border-bottom: 1px solid #EC7000;}
  #rating .current .position {border-left: 1px solid #EC7000;}
  #rating .current .missions_completed {border-right: 1px solid #EC7000;}
#rating .position {font-size: 14px; font-weight: bold;}

/* User's position in rating */
#rating_position {margin: 10px 0;}
  #rating_position .value {padding-left: 5px;font-size: 16px; font-weight: bold; color: #3B5998;}

/* Bank page */
#bank {width:100%;}
#bank_balance {font-size: 14px; padding: 10px 0;font-weight: bold;}
  #bank_balance .value {padding-left: 21px; background: url(icons/basic_money.gif) center left no-repeat; font-weight: normal;}

/* Item group tabs at the Shop and Inventory pages */
#item_groups {border-bottom: 1px solid #D0D0D0;border-top: 1px solid #D0D0D0;margin-bottom: 5px; height: 30px;}
  #item_groups b {font-size: 16px; padding: 0 10px; line-height: 30px; height: 28px;display:block; float: left;}
  #item_groups a {font-size: 14px; padding: 0 10px; line-height: 30px; height: 28px;font-weight: bold; border:1px solid white;display:block; float: left;}
  #item_groups a:hover {border-left: 1px solid #D0D0D0;border-right: 1px solid #D0D0D0;}

/* Property list at the Properties page*/
#property_list {width: 100%;}
  #property_list td{padding: 10px 10px 10px 0; border-bottom: 1px solid #d0d0d0;}
  #property_list .picture {width: 130px;}
  #property_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  #property_list .income {width: 100px;}
    #property_list .income div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    #property_list .income .basic_money{background-image: url(icons/basic_money.gif)}
  #property_list .controls {width: 110px;}
    #property_list .controls .sell {background-image: url(icons/basic_money.gif);}

/* Buy Properties button */
#buy_properties { display:block; width: 130px; padding: 5px 5px 5px 25px; border: 1px solid #3B5998; font-weight:bold; background: url(icons/properties.gif) 3px center no-repeat;}

/* Property type list at the Buy Properties page */
#property_type_list {width: 100%;}
  #property_type_list td, #property_type_list th {padding: 10px 10px 10px 0; border-bottom: 1px solid #d0d0d0;}
  #property_type_list .picture {width: 130px;}
  #property_type_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  #property_type_list .income {width: 100px;}
    #property_type_list .income div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    #property_type_list .income .basic_money{background-image: url(icons/basic_money.gif)}
  #property_type_list .requires {width: 100px;}
    #property_type_list .requires div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    #property_type_list .requires .basic_price{background-image: url(icons/basic_money.gif)}
    #property_type_list .requires .vip_price{background-image: url(icons/vip_money.gif)}
  #property_type_list .controls {width: 110px;}
    #property_type_list .controls .buy {background-image: url(icons/basic_money.gif);}

/* Property purchase or sale result block */
#property_result {padding:0px 30px; background: url(icons/basic_money.gif) 5px 0px no-repeat;}
  #property_result .properties {background-image: url(icons/properties.gif);}

/* Current property income block */
#property_income .value{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(icons/basic_money.gif) center left no-repeat;}

/* Current gems block at the Gem Market page */
#current_vip_money {font-size: 14px; margin-bottom: 15px;}
#current_vip_money .value{font-weight: bold; line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(icons/vip_money.gif) center left no-repeat;}

/* A list of premium services at the Gem Market page */
#premia {margin-bottom: 15px;}
  #premia td {vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #premia .name {width: 300px;}
  #premia .basic_money{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(icons/basic_money.gif) center left no-repeat; font-weight: bold;}
  #premia .points{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(icons/level.gif) center left no-repeat; font-weight: bold;}
  #premia .vip_money{line-height: 22px;height: 22px; padding: 5px 15px 5px 21px; background: url(icons/vip_money.gif) center left no-repeat;}
  #premia .controls a{background-image: url(icons/accept.gif);}

/* Character assignment list at the Alliance page */
#character_assignments {width: 250px; margin: 15px 0;}
  #character_assignments b {font-size: 12px; display:block; margin-bottom: 10px;}
  #character_assignments .context {padding-bottom: 5px; border-bottom: 1px solid #e0e0e0; margin-bottom: 10px;}
  #character_assignments .effect {font-style: italic; font-size: 14px; margin-top: 5px;}
  #character_assignments .description {font-style: italic;}
  #character_assignments .controls {float: right; margin-top: -25px; }
  #character_assignments .controls a {width: 50px;}
  #character_assignments .controls .promote {background-image: url(icons/accept.gif);}
  #character_assignments .controls .demote {background-image: url(icons/delete.gif);}

/* Character assignment dialog */
#new_assignment table {width: 100%;}
#new_assignment .relations {margin-top: 10px; height: 200px; display: block; overflow: auto}
  #new_assignment .relations td{vertical-align: middle; padding: 2px;border-bottom: 1px solid #e0e0e0;}
  #new_assignment .relations .picture {width: 60px;}
  #new_assignment .relations .relations .name {padding-right: 10px;}
  #new_assignment .relations .level {width: 60px}
  #new_assignment .relations .selected {background-color: #FFFFD5;font-weight: bold;}
    #new_assignment .relations .selected td {border-top: 1px solid #EC7000; border-bottom: 1px solid #EC7000;}
    #new_assignment .relations .selected .picture {border-left: 1px solid #EC7000;}
    #new_assignment .relations .selected .effect {border-right: 1px solid #EC7000;}
  #new_assignment .tab_titles a{margin-right: 15px;}
  #new_assignment .tab_titles .selected {font-weight: bold; font-size: 14px;}
  #new_assignment .tabs .hidden {display:none;}

/* Assignment result block */
#promotion_result {padding:0px 30px; background: url(icons/basic_money.gif) 5px 0px no-repeat;}

/* Invitation block at the Recruit to Alliance page*/
#invitation_form td {vertical-align: top;}
#invitation_form .invitation_type {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e0e0e0;}
#invitation_form .invitation_text {margin: 15px 0; font-weight: bold; font-size: 15px; color: #3B5998;}
#invitation_form .button {display:block; width: 100px; clear: right; margin: 10px 0; padding: 0 5px 0 25px;height: 25px; line-height: 25px; border: 1px solid #3B5998; font-weight: bold; background: url(icons/publish.gif) 3px center no-repeat;}
  #invitation_form .button:hover {background-color: #e0e0e0;}
#invitation_form #manual_invitation {padding-left: 15px;width: 60%}
#invitation_form #chat_invitation p {float:right; width: 200px;}

/* Invitation block displayed when user clicks someone's invitation link */
#invitation {}
  #invitation td {padding: 5px;vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #invitation .picture {width: 55px;}
  #invitation .level {width: 70px;}
  #invitation .controls .accept {background-image: url(icons/accept.gif)}
  #invitation .controls .ignore {background-image: url(icons/delete.gif)}

/* Invitation accept/decline result */
#invitation_result {padding:0px 30px; background: url(icons/alliance.gif) 5px 0px no-repeat;}

#get_more_vip {margin-top: 30px; }

/* Level up block displayed in mission or fight results */
#level_up {padding:0px 30px; background: url(icons/level.gif) 5px 0px no-repeat;}
  #level_up .upgrade {background-image: url(icons/add.gif);}