h1.title {font-size: 18px; color: #3B5998; margin: 15px 0px;}
h2,h3 {font-size: 16px; color: #3B5998; margin-bottom: 7px;}
td {vertical-align: top;}

/* A block that got displayed during AJAX request */
#spinner {position: absolute; top:240px; left: 300px; width: 150px; height: 50px; border: 1px solid #6D84B4; padding: 5px; background-color:white; z-index:1000;}
  #spinner img {float:left; margin-right: 10px;}

#admin_menu {margin: 10px; padding: 10px; border: 1px solid green;}
  #admin_menu a { margin-right: 10px; }

.empty_set, .note {margin: 10px 0px; padding: 8px; border: 1px solid #D8DFEA;}
.note {font-size: 14px;}

.nobutton .button {display: none !important;}
.button {display:block; width: 130px;}
.button span{ display:block; padding: 5px 5px 5px 25px; border: 1px solid #3B5998; font-weight:bold; background: url(1px.gif) 3px center no-repeat; white-space:nowrap;}
  .button:hover span{background-color: #e0e0e0;}
.controls .button { width: auto; margin: 5px; float: right; clear: both;}
  
/* Flash messages */
#flash {height: 40px; line-height: 40px; text-align: center; font-size: 17px; font-weight: bold; margin: 5px 0;}
  #flash.success {color: #338833; border: 1px solid #338833; background-color: #d0ffd0;}
  #flash.error {color: #883333; border: 1px solid #883333; background-color: #ffd0d0;}
  #flash.notice {color: #336788; border: 1px solid #336788; background-color: #d0efff;}

/* Page Switcher */
.pagination {margin: 10px 0px; text-align: right;}
  .pagination .disabled {display:none;}
  .pagination a, .pagination span {border: 1px solid #3b5998; padding: 3px;}
  .pagination a:hover {background-color: #d8dfea;}
  .pagination .current {background-color: #d8dfea; font-weight:bold; color: #3b5998;}

/* Default form styles */
form .required {color: red; padding-left: 5px;}
form .field {margin-bottom: 5px;}
  form .field .label {margin-bottom: 3px;}
  form .field label {color: #3b5998;}
form .fieldWithErrors {display:inline;}
  form .fieldWithErrors select{border: 1px solid #ee5555;}
  form .fieldWithErrors input{border: 1px solid #ee5555;}
  form .fieldWithErrors textarea{border: 1px solid #ee5555;}
form .error {color: red; padding: 3px 0px;}

#logo {float: left; display:block; width: 200px; height: 75px; background: transparent url(asset:logo_main) no-repeat;}

#header {border-bottom: 1px solid #d0d0d0;}

#main_menu {float:right;}
  #main_menu a {display: block; height: 25px; line-height: 25px; font-weight:bold; padding: 0 10px 0 30px; background-position: 8px center; background-repeat: no-repeat; border: 1px solid white;}
  #main_menu a:hover {border-color: #d0d0d0;}
    #main_menu a.home {background-image: url(asset:icons_home);}
    #main_menu a.settings {background-image: url(asset:icons_settings);}
    #main_menu a.profile {background-image: url(asset:icons_profile);}
    #main_menu a.missions {background-image: url(asset:icons_missions);}
    #main_menu a.fights {background-image: url(asset:icons_fights);}
    #main_menu a.inventory {background-image: url(asset:icons_inventory);}
    #main_menu a.shop {background-image: url(asset:icons_shop);}
    #main_menu a.alliance {background-image: url(asset:icons_alliance);}
    #main_menu a.rating {background-image: url(asset:icons_rating);}
    #main_menu a.properties {background-image: url(asset:icons_properties);}
    #main_menu a.vip_money {background-image: url(asset:icons_vip_money);}

/* Character overview block (below main menu) that displays user health, energy, experience, level, etc. */
#co {clear:both; border-top: 1px solid #d0d0d0; width: 100%}
  #co td {line-height: 25px; padding-bottom: 5px;}
  #co div.value {height: 20px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    #co_basic_money {background-image: url(asset:icons_basic_money);}
    #co_vip_money {background-image: url(asset:icons_vip_money);}
    #co_level {background-image: url(asset:icons_level);}
    #co_experience {background-image: url(asset:icons_experience);}
    #co_health {background-image: url(asset:icons_health);}
    #co_energy {background-image: url(asset:icons_energy);}
  #co_points a {font-weight: bold;color:red;}
  #co .timer {color: #b0b0b0; float:right; padding-right: 10px;}
  #co .basic_money {width: 160px;}
  #co .level {width: 80px;}
  #co .experience {width: 150px;}
    #co_experience_bar {border: 1px solid #d0d0d0; margin: -4px 10px -2px 0;}
      #co_experience_percentage {height: 4px; background-image: url(asset:progress);font-size: 0px;}

/* Tip block */
#tip {padding: 10px; border-top: 1px solid #d0d0d0; text-align:center;}
  #tip .label {font-weight: bold;}

/* Generic block with 'Hide' link*/
.block {margin: 10px 0px;padding: 8px;}
  .block h2 { margin-bottom: 15px;}
  .block .hide {float: right; padding-left: 14px; background: transparent url(asset:icons_hide) no-repeat center left;}

/* Next Steps block*/
#next_steps { border: 1px solid #EC7000; background-color: #FFFFD5;}
  #next_steps h2 {color: #EC7000;}
  #next_steps .step {font-size: 14px; font-weight: bold; margin-bottom: 15px; padding-left: 25px; background: transparent url(asset:icons_step) no-repeat top left; }
  #next_steps .fbml_add_profile_button {margin-top: 10px;}

/* Fan Specials block */
#fan_specials { border: 1px solid #3ebace; background-color: #f1f7fa;}
  #fan_specials h2 {color: #003f95;}
  #fan_specials .button {display: block; margin: 5px auto; width: 116px; text-align: center;}
#bookmark {border: 1px solid #e0e0e0;}
  #bookmark img {vertical-align:middle; margin-left: 10px;}
  #bookmark p {font-weight: bold; margin: 0;}

/* A block of character attributes displayed at home page and at the profile page */
.character_attributes {padding: 0; }
  .character_attributes tr {height: 25px; line-height: 25px;}
  .character_attributes th {padding-right: 15px;}
  .character_attributes .value {padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    .character_attributes .attack .value {background-image: url(asset:icons_attack);}
    .character_attributes .defence .value {background-image: url(asset:icons_defence);}
    .character_attributes .health .value {background-image: url(asset:icons_health);}
    .character_attributes .energy .value {background-image: url(asset:icons_energy);}
    .character_attributes .basic_money .value {background-image: url(asset:icons_basic_money);}
    .character_attributes .vip_money .value {background-image: url(asset:icons_vip_money);}

/* Character stats displayd at profile page */
.character_statistics tr {height: 25px; line-height: 25px;}
  .character_statistics th {padding-right: 15px;}

#dashboard {width: 100%;}
  #dashboard .profile {width: 250px; padding-right: 10px;}

/* A list of latest user fights displayed at home page */
#fight_list td {padding: 10px 0;border-bottom: 1px solid #d0d0d0;}
  #fight_list .fight {clear: both; margin: 5px 0; }
  #fight_list .attacker {width: 60px; text-align:left;}
    #fight_list .attacker img {border: 1px solid #d0d0d0;}
  #fight_list .victim {width: 60px; text-align:right;}
    #fight_list .victim img {border: 1px solid #d0d0d0;}
  #fight_list .time {font-weight: bold; margin-bottom: 5px;}
  #fight_list .attr {line-height: 20px; padding: 2px 0px 2px 21px; background-position: left center; background-repeat: no-repeat;font-weight:bold;}
    #fight_list .basic_money { background-image: url(asset:icons_basic_money); }
    #fight_list .health { background-image: url(asset:icons_health); }
    #fight_list .experience { background-image: url(asset:icons_experience); }
  #fight_list .respond span {background-image: url(asset:icons_attack); }

/* Latest help request block */
#latest_help_request {padding: 10px; margin-bottom: 15px; border: 1px solid #e7e7e7; font-size: 12px;}
  #latest_help_request .basic_money{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(asset:icons_basic_money) center left no-repeat; font-weight: bold;}
  
/* Mission list displayed at Missions page */
#mission_group_list {border-top: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0;}
  #mission_group_list table {width: 100%}
  #mission_group_list .previous,
  #mission_group_list .next {width: 90px; text-align: center; padding: 5px 0;}
  #mission_group_list .mission_group {text-align: center; padding: 5px 0;}
  #mission_group_list .current {font-weight: bold; background-color: #e8ebf3;}
  #mission_group_list .name {font-size: 14px;}
  #mission_group_list .level {padding-top: 3px;}

#mission_list th {padding: 10px 0px; border-bottom: 1px solid #d0d0d0; }
  #mission_list .mission_group {font-size: 16px; color: #3B5998; font-weight: bold;}
#mission_list td {padding: 10px 0px; border-bottom: 1px solid #e7e7e7;}
  #mission_list .image img {margin-right: 10px;}
  #mission_list .details {padding-right: 10px;}
  #mission_list .details .name {font-size: 14px; margin-bottom: 5px;font-weight: bold;}
  #mission_list .payout {width: 100px;}
    #mission_list .payout div {height: 25px;line-height: 25px;padding-left: 21px;}
      #mission_list .payout .basic_money { background: url(asset:icons_basic_money) center left no-repeat;}
      #mission_list .payout .experience { background: url(asset:icons_experience) center left no-repeat;}
  #mission_list .requires {width: 100px;}
    #mission_list .requires .energy {height: 25px;line-height: 25px;padding-left: 21px; background: url(asset:icons_energy) center left no-repeat;}
    #mission_list .requires .health,
    #mission_list .requires .attack,
    #mission_list .requires .defence,
    #mission_list .requires .alliance,
    #mission_list .requires .health_point {clear: both;}
    #mission_list .requires .item {float:left; margin: 0 2px 2px 0;}
    #mission_list .requires .item .amount {text-align: center;}
    #mission_list .requires .not_satisfied {color: #ff5353; font-weight: bold;}
    #mission_list .requires .not_satisfied img{border: 3px solid #ff5353;}
  #mission_list .progress .bar{width: 100px; border: 1px solid #d0d0d0;}
    #mission_list .progress .percentage {height: 10px; font-size: 0px; background-image: url(asset:progress);}
    #mission_list .progress .completed {height: 10px; background-image: url(asset:progress_completed);}
  #mission_list .controls a span { background-image: url(asset:icons_missions);}

/* Announce of next missions displayed at Missions page */
#next_mission_group {margin-top: 30px;}
  #next_mission_group p {border: 1px solid #d0d0d0; padding: 10px; }
  #next_mission_group .level {font-size: 14px; font-weight: bold;}

/* Item list displayed at Shop page*/
#items .buttons .inventory {width: 140px;}
  #items .buttons .inventory span {background-image: url(asset:icons_inventory);}

.item_list {width: 100%}
.item_list td{padding: 10px 0; border-bottom: 1px solid #d0d0d0;}
  .item_list .picture {padding-right: 10px;}
  .item_list .info {padding-right: 10px;}
  .item_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  .item_list .info .sale_limit,
  .item_list .info .time_limit {color: red;}
  .item_list .details {width: 40px;}
    .item_list .details div {font-weight:bold;line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
      .item_list .details .attack {background-image: url(asset:icons_attack);}
      .item_list .details .defence {background-image: url(asset:icons_defence);}
      .item_list .details .restore_health{background-image: url(asset:icons_health);}
      .item_list .details .restore_energy{background-image: url(asset:icons_energy);}
      .item_list .details .upgrade{background-image: url(asset:icons_level);}
  .item_list .requires {width: 100px;}
    .item_list .requires div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
      .item_list .requires .basic_price{background-image: url(asset:icons_basic_money);}
      .item_list .requires .vip_price{background-image: url(asset:icons_vip_money);}
  .item_list .spacer {border:0;}
  .item_list .controls {text-align:right; width: 130px;}
  .item_list .controls select {margin: 5px;}
  .item_list .controls a.buy span {background-image: url(asset:icons_basic_money);}
  .item_list .controls a.buy_vip span {background-image: url(asset:icons_vip_money);}

#special_items {background-color: #FFFFD5; border: 1px solid #EC7000; margin-bottom: 10px}

#next_item {margin-top: 30px; border: 1px solid #d0d0d0; padding: 10px; font-size: 14px}
  #next_item .level {font-size: 14px; font-weight: bold;}

/* Inventory container */
#inventory {width: 100%;}
  #inventory .buttons .shop span {background-image: url(asset:icons_shop);}

/* Item list displayed at Inventory page*/
#inventory_list {margin-top: 10px;}
#inventory_list td{padding: 10px; border-bottom: 1px solid #d0d0d0;}
  #inventory_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  #inventory_list .effects {width: 70px;}
    #inventory_list .effects div {font-weight:bold;line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
      #inventory_list .effects .attack {background-image: url(asset:icons_attack);}
      #inventory_list .effects .defence {background-image: url(asset:icons_defence);}
      #inventory_list .effects .restore_health {background-image: url(asset:icons_health);}
      #inventory_list .effects .restore_energy {background-image: url(asset:icons_energy);}
      #inventory_list .effects .upgrade {background-image: url(asset:icons_level);}
  #inventory_list .stats {width: 70px;}
    #inventory_list .stats div {margin-bottom: 5px;}
  #inventory_list .spacer {border:0;}
  #inventory_list .controls {width: 90px;}
    #inventory_list .controls { width: 200px; text-align: right;}
    #inventory_list .controls select {margin: 5px;}
    #inventory_list .controls .sell span {background-image: url(asset:icons_basic_money);}
    #inventory_list .controls .use span {background-image: url(asset:icons_accept);}

/* Fight attributes block */
#fight_attributes {margin: 10px 0; border-bottom: 1px solid #d0d0d0;}
#fight_attributes table {width: 99%;}
#fight_attributes th {font-size: 14px;}
#fight_attributes .values div {display: inline; line-height: 22px;height: 22px; padding: 2px 5px 2px 21px; background-position: center left; background-repeat: no-repeat;}
#fight_attributes .attack {background-image: url(asset:icons_attack);}
#fight_attributes .defence {background-image: url(asset:icons_defence);}
#fight_attributes .relations {background-image: url(asset:icons_alliance);}

/* Upgradeable attribute list displayed at Upgrade page*/
#upgrade_list td{padding: 10px; vertical-align: middle;}
#upgrade_list .points td{border-bottom: 1px solid #d0d0d0;}
#upgrade_list .name {font-weight: bold;}
#upgrade_list .value {padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
  #upgrade_attack {background: url(asset:icons_attack);}
  #upgrade_defence {background: url(asset:icons_defence);}
  #upgrade_health {background: url(asset:icons_health);}
  #upgrade_energy {background: url(asset:icons_energy);}
#upgrade_list .controls a span {margin-top:0; background-image: url(asset:icons_add);}

/* Opponent list displayed at Fight page */
#victim_list td{padding: 10px 0; border-bottom: 1px solid #d0d0d0;vertical-align:middle;}
  #victim_list .picture {padding-right: 10px;}
  #victim_list .name{ width: 200px;}
  #victim_list .level {width: 80px;}
  #victim_list .relations .larger {color: red;}
  #victim_list .controls .button span {background-image: url(asset:icons_fights);}
  #victim_list .invitee {color: green;}

/* A list of invitations displayed at home page*/
#invitation_list {width: 100%;}
  #invitation_list td {padding: 5px;vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #invitation_list .picture {width: 55px;}
  #invitation_list .level {width: 70px;}
  #invitation_list .controls .accept span {background-image: url(asset:icons_accept)}
  #invitation_list .controls .ignore span {background-image: url(asset:icons_delete)}

/* Recruit to Alliance button at Alliance page */
#alliance_recruit .buttons {height: 30px;}
  #alliance_recruit .button {float: left; width: auto; margin-right: 15px;}
    #alliance_recruit .button span {background-image: url(asset:icons_add);}

/* Alliance member list at Alliance page*/
#alliance_members {}
  #alliance_members td {padding: 5px;vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #alliance_members .picture {width: 55px;}
  #alliance_members .level {width: 70px;}
  #alliance_members .controls .delete span {background-image: url(asset:icons_delete)}

/* Received title list at the Profile page*/
#rank_list .rank {padding: 3px 25px; background: url(asset:icons_level) 3px center no-repeat;}

/* Tutorial block */
#tutorial {border: 2px solid #BDC7D8; padding: 10px;}
  #tutorial .step {margin-bottom: 5px;}
  #tutorial .current {font-size: 15px;}
  #tutorial .complete_mark {color: green; vertical-align: super; font-size: 10px; display:none;}
  #tutorial .button {text-align: center; width: 130px; margin: 10px; padding-left: 5px; display:none;}
  #tutorial .completed .complete_mark {display: inline;}
  #tutorial .completed .button {display: block;}

/* AJAX request results block*/
#result {font-size: 13px;margin:10px 0;border: 2px solid #3B5998; padding: 10px 0 20px 0;}
  #result td {padding-right: 15px;}
  #result h2 {margin-top: 10px;}
  #result h3 {font-size: 13px;}
  #result p {font-size: 13px; margin-top: 0;}
  #result .success {color:green;}
  #result .fail {color: red;}
  #result .payouts {width: 690px;}
  #result .payouts .label {float:left; width: 100px; font-weight: bold;margin-right: 5px;}
  #result .payouts .payout {line-height: 22px;min-height: 22px; height: 22px; clear: both; padding-bottom: 10px;}
  #result .payouts .value {float:left; line-height: 22px; padding: 0 0 10px 21px; background-position: left 3px; background-repeat: no-repeat;}
    #result .experience .value{background-image: url(asset:icons_experience)}
    #result .basic_money .value{background-image: url(asset:icons_basic_money)}
    #result .energy .value{background-image: url(asset:icons_energy)}
    #result .health .value{background-image: url(asset:icons_health)}
    #result .vip_money .value{background-image: url(asset:icons_vip_money)}
    #result .restore_health .value{background-image: url(asset:icons_health)}
    #result .restore_energy .value{background-image: url(asset:icons_energy)}
    #result .upgrade .value{background-image: url(asset:icons_level)}
    #result .payouts .item {height: 45px !important;}
    #result .payouts .item .value,
      #result .random_item .value {padding-left: 0px;}
    #result .mercenary .value{ background-image: url(asset:icons_alliance);}
    #result .loot {clear: both;}
  #result .buttons {float:right;}
    #result .button { clear: right; margin: 0 0 10px 10px;}
      #result .publish span {background-image: url(asset:icons_publish);}

/* Missions result block */
#mission_result {padding:0px 30px; background: url(asset:icons_missions) 5px 0px no-repeat;}
  #mission_result .spent b {width: 55px;}
  #mission_result .spent .zero .value{font-weight: bold; color: green; font-size: 14px;}
  #mission_result .spent .zero .relation {padding-left: 10px;}
  #mission_result .title {line-height: 22px; padding-left: 23px; background: url(asset:icons_level) center left no-repeat; font-size: 14px; margin-bottom: 15px;}
  #mission_result .fulfill_again {width: 120px;}
    #mission_result .fulfill_again span {background-image: url(asset:icons_missions);}
  #mission_result .request_help {width: 230px;}
    #mission_result .request_help span {background-image: url(asset:icons_alliance); }
  #mission_result .progress .bar{width: 100px; border: 1px solid #d0d0d0;}
    #mission_result .progress .percentage {height: 10px; font-size: 0px; background-image: url(asset:progress);}
    #mission_result .progress .completed {height: 10px; background-image: url(asset:progress_completed);}
  #mission_result .child_missions {margin: 15px 0;}
    #mission_result .child_missions .child {line-height: 22px; padding-left: 23px; background: url(asset:icons_missions) center left no-repeat; margin-bottom: 15px;}
  #mission_result .requirements .health,
  #mission_result .requirements .attack,
  #mission_result .requirements .defence,
  #mission_result .requirements .alliance,
  #mission_result .requirements .health_point {clear: both;}
  #mission_result .requirements .item {float:left; margin: 0 10px 2px 0;}
  #mission_result .requirements .item .amount {text-align: center;}
  
/* Mission help result block */
#help_result {padding:0px 30px; background: url(asset:icons_alliance) 5px 0px no-repeat;}

/* Fight result block */
#fight_result {padding:0px 30px; background: url(asset:icons_fights) 5px 0px no-repeat;}
  #fight_result .lost b {width: 55px;}
  #fight_result .victim_lost b {width: 55px;}
  #fight_result .attack_again span {background-image: url(asset:icons_fights);}
  #fight_result .request_help {width: 190px;}
    #fight_result .request_help span {background-image: url(asset:icons_alliance);}
  #fight_result .details {border-top: 1px solid #e0e0e0; padding-top: 10px; width: 730px; height: 160px; margin: 0px auto;}
  #fight_result .details .attacker {width: 330px; text-align:right; }
  #fight_result .details .vs {width: 65px; text-align:center; font-weight: bold; font-size: 16px; line-height: 160px; vertical-align:middle;}
  #fight_result .details .victim {width: 330px;}
  #fight_result .details .character {height: auto;font-size: 14px;}
  #fight_result .details .character .name {font-weight: bold; margin-bottom: 5px;}
  #fight_result .details .character .level {margin-top: 5px;}
  #fight_result .details .attributes {height: 30px; clear:both;}
  #fight_result .details .attributes div {padding-left: 20px; line-height: 22px; background-position: center left; background-repeat: no-repeat;}
  #fight_result .details .best_items strong {display: block; margin-bottom: 5px; font-size: 14px;}

  #fight_result .details .attacker .character .picture {float: right; margin-left: 10px}
  #fight_result .details .attacker .attributes {margin-left: auto;}
  #fight_result .details .attacker .attributes div {float:right; margin-left: 10px;}
  #fight_result .details .attacker .attributes .attack {background-image: url(asset:icons_attack);}
  #fight_result .details .attacker .attributes .relations {background-image: url(asset:icons_alliance);}
  #fight_result .details .attacker .attributes .relations_attack {background-image: url(asset:icons_attack);}
  #fight_result .details .attacker .best_items img {margin-left: 10px;}

  #fight_result .details .victim .character .picture {float: left; margin-right: 10px}
  #fight_result .details .victim .attributes div {float:left; margin-right: 10px;}
  #fight_result .details .victim .attributes .defence {background-image: url(asset:icons_defence);}
  #fight_result .details .victim .attributes .relations {background-image: url(asset:icons_alliance);}
  #fight_result .details .victim .attributes .relations_defence {background-image: url(asset:icons_defence);}
  #fight_result .details .victim .best_items img {margin-right: 10px;}

  #fight_result .item_details {text-align: center;border-top: 1px solid #e0e0e0; padding-top: 10px;}
  #fight_result .item_details .items {text-align: left;}
  #fight_result .item_details .items strong {display: block; margin-bottom: 5px;}
  #fight_result .item_details .attacker {width: 330px;}
  #fight_result .item_details .victim {padding-left: 65px;}
  #fight_result .item_details .group {margin-bottom: 10px;}

/* Item purchase result block */
#shop_result {padding:0px 30px; background: url(asset:icons_basic_money) 5px 0px no-repeat;}
  #shop_result .inventory {width: 150px;}
    #shop_result .inventory span {background-image: url(asset:icons_inventory);}

/* Item assignment or usage result block */
#inventory_result {padding:0px 30px; background: url(asset:icons_basic_money) 5px 0px no-repeat;}

/* Character upgrade result block */
#upgrade_result {padding:0px 30px; background: url(asset:icons_add) 5px 0px no-repeat;}

/* Controls at the Profile page */
#character .controls {clear: both;}
  #character .controls a {float: left;}
    #character .controls .attack span {background-image: url(asset:icons_fights);}
    #character .controls .upgrade span {background-image: url(asset:icons_add);}
#character .item_group .item {float: left; width: 85px; height: 135px; text-align: center; font-weight: bold;}
#character .properties .item {float: left; width: 130px; height: 170px; text-align: center; font-weight: bold;}
#character .wall {width: 315px; padding-left: 5px;}

/* Character list at the Rating page*/
.rating {margin-bottom: 30px;}
.rating td, .rating th {padding: 5px 10px; vertical-align:middle;}
.rating th {text-align:center; border-bottom: 1px solid #e0e0e0;}
.rating .current {background-color: #FFFFD5;}
  .rating .current td {border-top: 1px solid #EC7000; border-bottom: 1px solid #EC7000;}
  .rating .current .position {border-left: 1px solid #EC7000; font-weight: bold; font-size: 16px; color: #3B5998;}
  .rating .current .last {border-right: 1px solid #EC7000;}
.rating .position {font-size: 14px; font-weight: bold;}

#rating_buttons {height: 60px;}
  #rating_buttons .button span { float: left; width: 130px; margin-right: 15px; background-image: url(asset:icons_rating);}

/* Bank page */
#bank {width:100%;}
#bank_balance {font-size: 14px; padding: 10px 0;font-weight: bold;}
  #bank_balance .value {padding-left: 21px; background: url(asset:icons_basic_money) center left no-repeat; font-weight: normal;}

/* Item group tabs at the Shop and Inventory pages */
#item_groups {border-bottom: 1px solid #D0D0D0;border-top: 1px solid #D0D0D0;margin: 10px 0 5px 0;}
  #item_groups b {font-size: 16px; padding: 0 10px; line-height: 30px; height: 28px;display:block; float: left;}
  #item_groups a {font-size: 14px; padding: 0 10px; line-height: 30px; height: 28px;font-weight: bold; border:1px solid white;display:block; float: left;}
  #item_groups a:hover {border-left: 1px solid #D0D0D0;border-right: 1px solid #D0D0D0;}

/* Property list at the Properties page*/
#property_list td{padding: 10px 10px 10px 0; border-bottom: 1px solid #d0d0d0;}
#property_list .picture {width: 130px;}
#property_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
#property_list .details {width: 100px;}
  #property_list .details div {line-height: 22px;height: 22px; }
  #property_list .details .basic_money{background: url(asset:icons_basic_money) center left no-repeat; padding-left: 21px;}
#property_list .requires {width: 100px;}
  #property_list .requires div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
  #property_list .requires .basic_price{background-image: url(asset:icons_basic_money)}
  #property_list .requires .vip_price{background-image: url(asset:icons_vip_money)}
#property_list .income .basic_money {line-height: 22px;height: 22px; padding: 3px 0 3px 21px; background: url(asset:icons_basic_money) center left no-repeat;}
#property_list .controls {width: 200px;}
  #property_list .controls select {margin: 5px;}
  #property_list .controls a {width: auto;}
  #property_list .controls .buy span {background-image: url(asset:icons_basic_money);}
  #property_list .controls .sell span {background-image: url(asset:icons_basic_money);}

/* Buy Properties button */
#buy_properties span { width: 130px; background-image: url(asset:icons_properties);}

/* Property type list at the Buy Properties page */
#property_type_list {width: 100%;}
  #property_type_list td, #property_type_list th {padding: 10px 10px 10px 0; border-bottom: 1px solid #d0d0d0;}
  #property_type_list .picture {width: 130px;}
  #property_type_list .info .name {font-size: 15px; margin-bottom: 5px;font-weight: bold;}
  #property_type_list .income {width: 100px;}
    #property_type_list .income div {line-height: 22px;height: 22px; padding-left: 21px; background-position: center left; background-repeat: no-repeat;}
    #property_type_list .income .basic_money{background-image: url(asset:icons_basic_money)}
  #property_type_list .controls {width: 110px;}
    

/* Property purchase or sale result block */
#property_result {padding:0px 30px; background: url(asset:icons_basic_money) 5px 0px no-repeat;}
  #property_result .properties {background-image: url(asset:icons_properties);}

/* Current property income block */
#property_income .value{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(asset:icons_basic_money) center left no-repeat;}

/* Current gems block at the Gem Market page */
#current_vip_money {font-size: 14px; margin-bottom: 15px;}
#current_vip_money .value{font-weight: bold; line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(asset:icons_vip_money) center left no-repeat;}

/* A list of premium services at the Gem Market page */
#premia {margin-bottom: 15px;}
  #premia td {vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #premia .name {width: 300px;}
  #premia .basic_money{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(asset:icons_basic_money) center left no-repeat; font-weight: bold;}
  #premia .points{line-height: 22px;height: 22px; padding: 5px 0 5px 21px; background: url(asset:icons_level) center left no-repeat; font-weight: bold;}
  #premia .vip_money{line-height: 22px;height: 22px; padding: 5px 15px 5px 21px; background: url(asset:icons_vip_money) center left no-repeat;}
  #premia .controls .button span {background-image: url(asset:icons_accept); width: 70px;}

/* Character assignment list at the Alliance page */
#character_assignments {width: 250px; margin: 15px 0;}
  #character_assignments b {font-size: 12px; display:block; margin-bottom: 10px;}
  #character_assignments .context {padding-bottom: 5px; border-bottom: 1px solid #e0e0e0; margin-bottom: 10px;}
  #character_assignments .effect {font-style: italic; font-size: 14px; margin-top: 5px;}
  #character_assignments .description {font-style: italic;}
  #character_assignments .controls {float: right; margin-top: -25px; }
    #character_assignments .controls .promote span {background-image: url(asset:icons_accept);}
    #character_assignments .controls .demote span {background-image: url(asset:icons_delete);}

/* Character assignment dialog */
#new_assignment table {width: 100%;}
#new_assignment .relations {margin-top: 10px; height: 200px; display: block; overflow: auto}
  #new_assignment .relations td{vertical-align: middle; padding: 2px;border-bottom: 1px solid #e0e0e0;}
  #new_assignment .relations .picture {width: 60px;}
  #new_assignment .relations .relations .name {padding-right: 10px;}
  #new_assignment .relations .level {width: 60px}
  #new_assignment .relations .selected {background-color: #FFFFD5;font-weight: bold;}
    #new_assignment .relations .selected td {border-top: 1px solid #EC7000; border-bottom: 1px solid #EC7000;}
    #new_assignment .relations .selected .picture {border-left: 1px solid #EC7000;}
    #new_assignment .relations .selected .effect {border-right: 1px solid #EC7000;}
  #new_assignment .tab_titles a{margin-right: 15px;}
  #new_assignment .tab_titles .selected {font-weight: bold; font-size: 14px;}
  #new_assignment .tabs .hidden {display:none;}

/* Assignment result block */
#promotion_result {padding:0px 30px; background: url(asset:icons_basic_money) 5px 0px no-repeat;}
  #promotion_result .forward {margin-top: 25px;}

/* Invitation block at the Recruit to Alliance page*/
#invitation_form td {vertical-align: top;}
#invitation_form .invitation_type {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e0e0e0;}
#invitation_form .invitation_text {margin: 15px; font-weight: bold; font-size: 15px; color: #3B5998;}
#invitation_form .button span {clear: right; background-image: url(asset:icons_publish);}
#invitation_form #request_invitation {width: 315px; padding-right: 15px;}
#invitation_form #chat_invitation p {float:right; width: 200px;}

/* Invitation block displayed when user clicks someone's invitation link */
#invitation {}
  #invitation td {padding: 5px;vertical-align:middle; border-bottom: 1px solid #d0d0d0;}
  #invitation .picture {width: 55px;}
  #invitation .level {width: 70px;}
  #invitation .controls .accept span {background-image: url(asset:icons_accept)}
  #invitation .controls .ignore span {background-image: url(asset:icons_delete)}

/* Invitation accept/decline result */
#invitation_result {padding:0px 30px; background: url(asset:icons_alliance) 5px 0px no-repeat;}

#get_more_vip {margin-top: 30px; }

/* Level up block displayed in mission or fight results */
#level_up {padding:0px 30px; background: url(asset:icons_level) 5px 0px no-repeat;}
  #level_up .upgrade span {background-image: url(asset:icons_add);}

/* Gift result message */
#gift_result {padding:0px 30px; background: url(asset:icons_inventory) 5px 0px no-repeat;}
  #gift_result .pending span {width: 140px; background-image: url(asset:icons_inventory);}
  #gift_result .play_now span {width: 80px; background-image: url(asset:icons_home);}
  #gift_result .details td {padding: 0 15px;text-align:center; }
  #gift_result .details .item {font-weight: bold;}
  #gift_result .details .from {font-weight: bold; font-size: 16px; vertical-align: middle;}

/* Gift sending form */
#gift_form .skip span {width: 45px; float: right; background-image: url(asset:icons_home)}

#gift_form .item { padding: 5px; width: 120px; text-align: center;}
  #gift_form .item .name {font-weight: bold;}

#gift_form .items .item { border: 1px solid #e0e0e0; margin: 3px;}
  #gift_form .item .effects {margin-top: 5px;}
  #gift_form .item .effects div {display: inline; font-weight:bold;line-height: 26px;height: 26px; padding: 1px 0px 1px 21px; background-position: center left; background-repeat: no-repeat;}
    #gift_form .item .effects .attack {background-image: url(asset:icons_attack);}
    #gift_form .item .effects .defence {background-image: url(asset:icons_defence);}
    #gift_form .item .effects .restore_health{background-image: url(asset:icons_health);}
    #gift_form .item .effects .restore_energy{background-image: url(asset:icons_energy);}
    #gift_form .item .effects .upgrade{background-image: url(asset:icons_level);}

#gift_form .gift {margin-bottom: 15px;}
  #gift_form .gift .item .name {margin-bottom: 10px;}

#gift_form .friend_groups {font-size: 14px; font-weight: bold;line-height: 30px;}
  #gift_form .friend_groups a {padding: 5px; margin: 0 5px;}
  #gift_form .friend_groups a.current {border:  1px solid #D0D0D0; color: #333333;}
