<%= title(t(".title")) %>

<%= render "inventories/buttons", :current => :boosts %>

<table id="item_list" cellspacing="0" cellpadding="0">
  <% @boosts.each do |boost| %>
    <%= render boost %>
  <% end %>
</table>

<%= will_paginate @boosts %>
