<% content_for :result do %>
  <% result_for :hit_listing do %>
    <p class="message">
      <%= t(".message",
            :reward => content_tag(:span, number_to_currency(@hit_listing.reward), :class => "attribute basic_money"),
            :victim => character_name_link(@hit_listing.victim)
          ).html_safe! %>
    </p>
  <% end %>
<% end %>

<%= render :file => "hit_listings/index" %>