<% dialog do |d| %>
  <h2><%= t(".title") %></h2>

  <p class="message">
    <%= t(".message",
          :reward => span_tag(number_to_currency(@hit_listing.reward), 'attribute basic_money'),
          :victim => character_name_link(@hit_listing.victim)
        ).html_safe %>
  </p>

  <% d.on_ready do %>
    $(document).trigger('remote_content.received');

    <%= stream_dialog(:hit_listing_new, @hit_listing) if Setting.b(:stream_dialog_enabled) %>
  <% end %>
<% end %>
