<div class="inventory_list clearfix">
  <% if inventories.size > 0 %>
      <% inventories.each do |inventory| %>
        <%= render("list_inventory", :inventory => inventory) %>
      <% end %>
  <% else %>
    <div class="empty_set">
      <%= t(".empty_set.text",
            :shop => link_to(t(".empty_set.shop"), items_path)
          ).html_safe %>
    </div>
  <% end %>
</div>
