<div id="placements">
  <% Character::Equipment::PLACEMENTS.each do |placement| %>
    <% content_tag(:div, :class => placement) do %>
      <h2><%= placement %></h2>
      
      <% character.equipment.inventories(placement).each_with_index do |inventory, index| %>
        <% content_tag :div, :class => :inventory do %>
          <%= link_to_remote("x",
                :url    => unequip_inventory_url(inventory, :placement => placement, :canvas => false),
                :update => :result,
                :html   => {:class => :remove}
              ) if character == current_character %>
  
          <%= item_image(inventory, :small) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>