<%= title(t(".title")) %>

<%= render "inventories/buttons", :current => :equipment %>

<div id="equipment_inventories">
  <%= render "equippables" %>
</div>

<div id="equipment_placements">
  <%= render "placements", :character => current_character %>
</div>