<%= title(t(".title")) %>

<table>
  <tr>
    <td id="equipment_inventories">
      <%= render "available_for_equipment" %>
    </td>
    <td id="equipment_placements">
      <%= render "placements", :character => current_character %>
    </td>
  </tr>
</table>