<%= title(t(".title")) %>

<%= render "inventories/buttons", :current => :equipment %>

<table>
  <tr>
    <td id="equipment_inventories">
      <%= render "equippables" %>
    </td>

    <td id="equipment_placements">
      <%= render "placements", :character => current_character %>
    </td>
  </tr>
</table>