<div id="inventory_fight_attributes">
  <%= render :partial => "characters/fight_attributes" %>
</div>

<%= title(t(".title")) %>

<%= render "inventories/buttons", :current => :inventory %>

<div id="inventory_list">
  <%= render :partial => "list", :locals => {:inventories => @inventories} %>
</div>