<div id="inventory_fight_attributes">
  <%= render :partial => "characters/fight_attributes" %>
</div>

<%= title(t(".title")) %>

<div id="inventory">
  <div class="buttons">
    <%= link_to(button(:shop), items_path, 
          :class => "shop button"
        ) %>
  </div>
  
  <div id="inventory_list">
    <%= render :partial => "list", :locals => {:inventories => @inventories} %>
  </div>
</div>