<%= render :partial => "characters/fight_attributes" %>

<%= title(fb_i(t(".title"))) %>

<div id="inventory">
  <div class="buttons">
    <%= link_to(fb_i(t(".shop")), items_path, :class => "shop button") %>
  </div>
  
  <div id="inventory_list">
    <%= render :partial => "list", :locals => {:inventories => @inventories} %>
  </div>
</div>