<%= title(fb_i(t(".title"))) %>

<table>
  <tr>
    <td>
      <%= render(:partial => "holders") %>
    </td>
    <td>
      <div id="inventory_placements">
        <%= inventory_placements_for(current_character) %>
      </div>

      <div id="inventory_list">
        <%= render :partial => "list", :locals => {:inventories => @inventories} %>
      </div>
    </td>
  </tr>
</table>