<div class="assignment">
  <div class="image"><%= character_picture_link(assignment.relation.target_character) %></div>
  <div class="name"><%= character_name_link(assignment.relation.target_character) %></div>
  <div class="effect"><%= assignment_effect(assignment) %></div>
</div>