<div class="buttons">
  <%= help_request_link(button(:request_help), mission,
        :class => "request_help button"
      ) %>

  <%= link_to_remote(button(:try_again),
        :url    => fulfill_mission_path(mission),
        :update => :result,
        :html   => {:class => "fulfill_again button"}
      ) if current_character.can_fulfill?(mission) %>
</div>

<p>
  <%= t(".message") %> <%= mission.failure_text %>
</p>
