<div class="controls">
  <b><%= t(".add_payout") %></b>

  <% Payouts::Base.types.each do |type| %>
    <%= link_to_remote(t("payouts.#{type.payout_name}.name"),
          :url    => new_admin_payout_url(
            :type       => type.payout_name,
            :container  => form.object_name,
            :canvas     => false
          ),
          :method => :get,
          :update => :result
        ) %>
  <% end %>
</div>

<% form.object.payouts.each do |payout| %>
    <%= content_tag(:div,
          render(
            :partial  => "admin/payouts/payout",
            :locals   => {
              :payout     => payout,
              :container  => form.object_name
            }
          ),
          :class  => "payout",
          :id     => "payout_#{payout.object_id}"
        ) %>
<% end %>
