<% content_tag :div, :class => payout.name do %>
  <% if payout.respond_to?(:state) and payout.state != 'visible' %>
    <span class="state"><%= admin_state(payout) %></span>
  <% end %>
  
  <%= payout %>
<% end %>
