<div class="note">
  <p><%= t(".text") %></p>
  <p>
    <%= raw t(".placements",
          :amount => content_tag(:span, Setting.i(:character_relations_per_equipment_slot), :class => :value)
        ) %>
  </p>
</div>