<%= title(@monster.name) %>

<div id="monster">
  <%= monster_health_bar(@monster) %>

  <div class="image">
    <%= image_tag(@monster.image.url(:normal)) %>
  </div>

  <div class="controls">
    <%= link_to_remote(button(:attack),
          :url    => monster_path(@monster),
          :method => :put,
          :update => :result,
          :html   => {:class => "attack button"}
        ) %>
  </div>
</div>