<% content_tag :div, :class => payout.name do %>
  <% if payout.boost %>
    <%= ("%s: %s %s (%d%% %s)" % [
          payout.apply_on_label,
          (payout.boost.visible? ? '' : content_tag(:span, admin_state(payout.boost), :class => :state)),
          payout.boost.name,
          payout.chance,
          payout.action
        ]).html_safe %>
  <% else %>
    <span class="missing"><%= t("payouts.boost.missing") %></span>
  <% end %>
<% end %>
