<td class="message">
  <%= t(".text",
        :user => character_name_link(app_request.sender),
        :clan => strong_tag(app_request.clan.try(:name))
       ).html_safe %>
</td>
<td class="image">
  <%= clan_avatar(app_request.clan, :format => :small) if app_request.clan %>
</td>

<td class="controls">
  <%= accept_request_button(app_request, :view) %>
</td>