#admin_menu
  margin: 0 20px 30px 0
  padding: 10px
  border: 2px solid green
  float: left
  width: 170px
  position: fixed

  h2
    margin-top: 0

  a
    margin-right: 10px
    font-size: 12px
    color: black

    &.item
      display: block
      padding: 5px
      margin: 2px 0

    &:hover
      outline: 2px solid #BEDDFE

    &.current
      background-color: #e9f4Ff
      font-weight: bold

#content
  margin-left: 220px

#footer
  margin: 30px 0
  padding: 30px 0
  text-align: center
  border-top: 1px solid #d0d0d0
  clear: both
