<% result_for :shop do %>
  <p>
    <%= t(".message").html_safe %>
  </p>
<% end %>

<% dom_ready do %>
  <% if @item.valid? %>
    $('#<%= dom_id(@item) %>').remove();
  <% end %>

  $(document).trigger('result.received');
<% end %>