<% requirement(requirement.name, satisfied) do %>
  <% if Item::PURCHASEABLE.include?(requirement.item.availability) && !satisfied %>
    <p>
      <span class="image">
        <%= item_image(requirement.item, :icon,
              :alt    => t(".shop_link_title", :item => requirement.item.plural_name),
              :title  => t(".shop_link_title", :item => requirement.item.plural_name),
              :tooltip => true,
              :details => true
            ) %>
      </span>

      <span class="label">
        <%= t(".text",
              :name   => span_tag(requirement.item.name, :value),
              :amount => requirement.amount
            ).html_safe %>
      </span>
    </p>
  <% else %>
    <p>
      <span class="image">
        <%= item_image(requirement.item, :icon, :tooltip => true) %>
      </span>

      <span class="label">
        <%= t(".text",
              :name   => span_tag(requirement.item.name, :value),
              :amount => requirement.amount
            ).html_safe %>
      </span>
    </p>
  <% end %>
<% end %>
