<% content_tag :div, :class => "#{requirement.name} #{ "not_satisfied" unless satisfied }" do %>
  <%= item_image(requirement.item, :icon)%>
  
  <div class="amount"><%= t(".amount", :amount => requirement.amount) %></div>
<% end %>