<% requirement(requirement.name, satisfied) do %>
  <p>
    <span class="image">
      <%= property_image(requirement.property_type, :icon) %>
    </span>

    <span class="label">
      <% if requirement.display_level? %>
        <%= t(".text",
              :name   => span_tag(requirement.property_type.name, :value),
              :level  => requirement.level
            ).html_safe! %>
      <% else %>
        <span class="value"><%= requirement.property_type.name %></span>
      <% end %>
    </span>
  </p>
<% end %>
