.chat
  padding: 5px
  height: 600px
  margin-top: 10px
  
  .messages-container, .container
    height: 480px
  
  .container
    padding: 4px
    border = !chat_container_border
    
    .messages-container
      width: 590px
      float: left
      overflow-y: scroll
      
      .messages
          
      .message
        padding: 2px
        border-bottom = !chat_message_border
        border-bottom-style: dotted
        
        .picture
          width: 50px
          height: 50px
          float: left
          padding: 2px
        .info
          float: left
          width: 125px
          padding: 2px
          margin-top: 10px
          .name
          .created_at
            font-size: 10px
        .text
          padding: 2px
          width: 300px
          float: left

    .online
      float: right
      width: 140px
      
      .content
        overflow-y: scroll
        text-align: center
        height: 455px
        
        .character
          width: 120px
          padding-bottom: 10px
          
        &.friend
          background-color = !chat_friend_bg_color
        
  .send_message
    padding: 5px
    .text_container
      float: left
    .text
      width: 400px
    .send.button
      float: left
      margin-left: 10px
      width: 90px