#credit_packages
  width: 430px
  margin: 20px auto
  padding: 10px
  border = !main_border
  
  h2
    margin-bottom: 15px
  
  .select_package
    font-weight: bold
    margin-bottom: 10px
  
  .credit_package
    line-height: 20px
    cursor: pointer
    
    .selector, .vip_money, .credits, .discount
      padding: 5px 10px
      border-bottom = !splitter_border
    
    .vip_money, .credits
      .value
        padding-left: 20px
        font-weight: bold
        background:
          repeat: no-repeat
          position: left

    .vip_money
      text-align: right
      
      .value
        background-image = !asset_icons_vip_money
      
    .credits
      .value
        background-image = !asset_icons_credits
        
    .discount
      padding-left: 10px
      color: red
  
  .selected
    background-color = !current_item_bg_color
    
  .buttons
    margin: 15px 0 0 0
    
    .button
      margin: 15px 0
      +button(!asset_icons_credits, 120px)
      
#earn_credits
  width: 430px
  margin: 20px auto
  border = !main_border
  padding: 10px
  font-size: 14px
  
  .buttons
    margin: 15px 0 0 0
    
    .button
      margin: 10px auto
      +button(!asset_icons_credits, 120px)    
    