#gift_form
  .gift
    padding: 5px
    text-align: center
    float: left
    margin: 0 10px 10px 0
    overflow: hidden
    width = !gifts_item_width
    height = !gifts_item_height
    border = !gifts_item_border

    .name
      font-weight: bold

    .payouts
      margin-top: 5px

      .payout
        display: inline

    &.selected
      margin: 0 auto 15px
      float: none

  .gifts
    .gift
      cursor: pointer

  h3
    text-align: center

  .friend_groups
    font-size: 14px
    font-weight: bold
    line-height: 30px
    text-align: center

    a
      padding: 5px
      margin: 0 5px

      &.current
        border = !gifts_current_group_border
        color = !gifts_current_group_color
        
#gift_list
  td
    vertical-align: middle
    padding: 5px
    
  .sender_name, .item_name
    font-weight: bold
    
  .controls
    padding-left: 10px
    
    .accept
      +button(!gifts_list_accept_icon)
