html, body
  margin: 0
  padding: 0

#content  
  font:
    size: 12px
    family: "lucida grande",tahoma,verdana,arial,sans-serif
  background:
    image = !content_bg_image
    color = !content_bg_color
  color = !content_text_color

a
  text-decoration: none
  color = !link_color

  img
    border: 0

h1
  font-size: 18px
  color = !label_color
  margin: 15px 0px

h2
  font-size: 16px
  color = !label_color
  margin: 0 0 7px 0

h3
  font-size: 14px
  color = !subheader_color
  margin: 0 0 7px 0

td
  vertical-align: top

th
  text-align: left


// Tooltips

#tooltip
  font:
    size: 12px
    family: "lucida grande",tahoma,verdana,arial,sans-serif
  position: absolute
  z-index: 3000
  border = !main_border
  background-color = !content_bg_color
  color = !content_text_color
  padding: 5px

  h3, div
    margin: 0

#content .tooltip_content
  display: none

#maintenance_warning
  margin: 20px 0
  border: 2px dashed orange
  padding: 20px
  text-align: center

#admin_menu
  margin: 20px
  padding: 20px
  border: 2px dashed green
  text-align: center

  a
    color: #3B5998 !important
    font-weight: bold