#inventory_buttons
  margin-bottom: 15px

  .button
    float: left
    width: auto
    margin-right: 15px

  .shop
    +button(!inventory_buttons_shop_icon)

  .inventory
    +button(!inventory_buttons_inventory_icon)

  .collections
    +button(!inventory_buttons_collections_icon)

  .equipment
    +button(!inventory_buttons_equipment_icon)

  .market
    +button(!inventory_buttons_market_icon)

.inventory_list
  table
    width: 100%

  th
    padding-top: 10px

  td
    padding: 10px
    border-bottom = !inventory_item_border

  .info
    .name
      font-size: 16px
      font-weight: bold

    .name, .description
      margin-bottom: 5px

  .payouts
    padding-right: 10px

  .stats
    font-weight: bold

    .owned, .used
      margin-bottom: 5px

    .value
      font-weight: normal

  .spacer
    border: 0

  .controls
    width: 90px
    width: 200px
    text-align: right

    select
      margin: 5px

    .sell
      +button(!inventory_item_sell_icon)

    .market
      +button(!inventory_item_market_icon)

    .use
      +button(!inventory_item_use_icon)

    .exchange
      +button(!asset_icons_exchange)

#inventory_sell_result
  background-image = !inventory_sell_result_icon

#inventory_use_result
  background-image = !inventory_use_result_icon
  
  .use
    +button(!inventory_item_use_icon)

#give_inventory
  table
    float: left
    margin-right: 20px

  td
    vertical-align: middle
    padding: 5px 10px

    &.name
      font-size: 16px
      font-weight: bold

    &.amount
      .value
        font-weight: bold

    &.give
      font-weight: bold

  .character
    text-align: center

    .name
      margin-bottom: 5px
      font-weight: bold

  .give.button
    +button(!inventory_give_button_icon)
    
.boosts_container
  border-bottom = !thin_border
  margin-bottom: 15px

.boosts
  overflow: hidden
  padding-bottom: 10px
  width: 335px
  
  .description
    font-weight: bold
    text-align: center
    
  .container
    .jcarousel-prev-horizontal, .jcarousel-next-horizontal
      top: 32px
  
    .jcarousel-item
      height: 80px
  
    .boost
      img
        cursor: pointer
      width: 72px
      height: 72px
      margin: 5px
      +opacity(0.8)
      
      &.active
        border = !main_border 
        border-width: 4px
        margin: 1px
        +opacity(1.0)
      
      .inventory_image
      
  .buy
    text-align: center
    margin-bottom: 10px
    
  .button.shop
    margin: 0 auto
    +button(!inventory_buttons_shop_icon, 140px)

.inventory_image
  position: relative
  
  .count
    position: absolute
    
    &.small
      right: 0px
      bottom: 5px
      background-color: black
      color: white
      padding: 0 4px
