#invitations
  border = !invitations_border

#invitation_list
  width: 100%

  td
    padding: 5px
    vertical-align: middle
    border-bottom = !invitations_invitation_border

  .picture
    width: 55px

  .level
    width: 70px

  .controls
    .accept span
      background-image = !invitations_invitation_accept_icon

    .ignore span
      background-image = !invitations_invitation_decline_icon

#invitation
  td
    padding: 5px
    vertical-align: middle

  .picture
    width: 55px

  .level
    width: 70px

  .controls
    .accept span
      background-image = !invitation_accept_icon

    .ignore span
      background-image = !invitation_decline_icon


#invitation_result
  background-image = !invitation_result_icon
