.ui-tooltip
  .show_item
    .picture
      padding-right: 10px
    
    table.actions
      width: 100%
      
      td
        padding-right: 20px
  
        .package_size
          font-weight: normal
      
        .controls
          width: 130px
          text-align: right
          
          .buy
            +button(!shop_item_buy_icon)
          
          select
            margin: 5px
