#dialog
  .disable_notification
    clear: both
    padding-top: 10px
    text-align: right
    font-size: 10px


#level_up_notification
  .text
    margin-bottom: 15px

  .button
    float: left
    margin-right: 15px

  .publish
    +button(!level_up_continue_icon)

  .upgrade
    +button(!level_up_upgrade_icon)

#friends_to_invite_notification
  .users
    .user
      display: block
      float: left
      width: 160px
      height: 60px
      
      .picture
        float: left

      .name
        font-weight: bold
        margin-left: 60px
        line-height: 50px
        
  .invite
    float: none
    margin: 10px auto
    +button(!friends_to_invite_icon, 130px)
    
#send_gift_notification
  .text
    margin-bottom: 15px

  .gifts
    .gift
      padding: 5px
      float: left
      margin: 0 10px 10px 0
      width = !send_gift_item_width
      height = !send_gift_item_height
      border = !send_gift_item_border
      
      .name
        font-weight: bold
        font-size: 16px
        margin-bottom: 10px
        text-align: center

      .image
        margin: 0 auto 10px auto
        width = !gifts_item_image_size
        height = !gifts_item_image_size
        
      .send
        margin: 0 auto
        +button(!send_gift_send_icon, !send_gift_send_width)

  .send_other
    +button(!send_gift_send_icon)
    
#exchange_offer_accepted, #exchange_offer_created
  .character
    height: 70px
  
    .picture
      float: left
      
    .text
      margin-left: 60px
      line-height: 50px
      
#exchange_offer_created
  .view
    +button(!asset_icons_exchange)
  
        
#notification_settings
  .notifications
    margin-bottom: 20px
    
    .notification
      padding: 5px
  
  .save
    +button(!asset_icons_accept)
    
#accepted_application_notification
  .buttons
    margin-top: 10px
  .avatar
    text-align: right      
    
#items_collection

  .text
    padding: 10px 0 0 10px
  
  .items
    margin-top: 20px
  
  .item
    float: left
    width: 100px
    height: 100px
    border = !thin_border
    margin: 0 3px 3px 0
    padding: 5px
    text-align: center     
    
    .name
      font-weight: bold
      
      
#wall_post_notification
  .wall_post
    .picture, .text 
      float: left 
         
    .text
      padding-left: 10px
      line-height: 50px
  .buttons
    margin-top: 10px    
