#current_vip_money
  font-size: 14px
  margin-bottom: 15px

  .value
    font-weight: bold
    line-height: 22px
    height: 22px
    padding: 5px 0 5px 21px
    background: 
      image = !premium_current_vip_money_icon
      position: center left
      repeat: no-repeat


#premia
  margin:
    left: auto
    bottom: 15px
    right: auto

  td
    vertical-align: middle
    border-bottom = !premium_service_border

  .name
    width: 300px

  .basic_money, .points
    line-height: 22px
    height: 22px
    padding: 5px 0 5px 21px
    font-weight: bold
    background:
      position: center left
      repeat: no-repeat

  .basic_money
    background-image = !premium_basic_money_icon

  .points
    background-image = !premium_points_icon

  .controls .button
    width = !premium_accept_width

    span
      background-image = !premium_accept_icon
