#property_income
  margin-bottom: 10px

  .value
    line-height: 22px
    height: 22px
    padding: 5px 0 5px 21px
    background: 
      image = !property_income_value_icon
      position: center left
      repeat: no-repeat


#property_list
  table
    width: 100%

  td
    width: 33%
    padding: 10px
    text-align: center
    border = !property_list_item_border

  .picture
    margin: 10px 0

  .requirements, .payouts
    text-align: left

  .payout, .requirement
    clear: left

  .timer
    font-weight: bold
    margin-bottom: 10px

    .value
      font-weight: normal

  .controls
    float: right

    .buy
      +button(!property_list_buy_icon, !property_list_button_width)

    .upgrade
      +button(!property_list_upgrade_icon, !property_list_button_width)

    .collect
      +button(!property_list_collect_icon, !property_list_button_width)


#property_result
  background-image = !property_result_icon
