.character_attributes
  padding: 0

  tr
    height: 25px
    line-height: 25px

  th
    padding-right: 15px

  .value
    padding-left: 21px
    background-position: center left
    background-repeat: no-repeat

  .attack .value
    background-image = !character_attack_icon

  .defence .value
    background-image = !character_defence_icon

  .health .value
    background-image = !character_health_icon

  .energy .value
    background-image = !character_energy_icon

  .stamina .value
    background-image = !character_stamina_icon

  .basic_money .value
    background-image = !character_basic_money_icon

  .vip_money .value
    background-image = !character_vip_money_icon


.character_statistics
  tr
    height: 25px
    line-height: 25px

  th
    padding-right: 15px
