#property_income
  margin-bottom: 10px

  .value
    line-height: 22px
    height: 22px
    padding: 5px 0 5px 21px
    background: 
      image = !property_income_value_icon
      position: center left
      repeat: no-repeat


#property_list
  table
    width: 100%

  td
    padding: 10px 10px 10px 0
    border-bottom = !property_list_item_border

  .picture
    width: 130px

  .info .name
    font-size: 15px
    margin-bottom: 5px
    font-weight: bold

  .controls
    text-align: right

    select
      margin: 5px

    .buy span
      background-image = !property_list_buy_icon

    .sell span
      background-image = !property_list_sell_icon


#property_result
  background-image = !property_result_icon
