#tutorial
  
  #tutorial_overlay
    /* set it to fill the whil screen */
    width: 100%
    height: 100%
    +opacity(0.5)
    background-color: #000 
    position: fixed 
    top: 0 
    left: 0 
    z-index: 9000
    
    .visibleBlock
      position: absolute
      background-color: #FFF
    
    .spot
      width: 279px
      height: 279px
      position: relative
      background:
        image = !asset_spot
  

  #tutorial_progress
    background: #fff
    padding: 5px
    border: 1px solid #D8DFEA
    width: 300px
    text-align: center
    position: relative
    z-index: 9500
    margin:
      left: 220px
      bottom: 20px
    
    #skip_tutorial
      text-align: right
      margin: 0 0
      padding: 0 0
      
      .hide
        float: none
        
    .progress_bar
      margin: 10px

#dialog .tutorial
  .content
  .buttons
    padding-top: 5px

    .button
      float: left
      padding-right: 5px
      
.qtip
  .buttons
    text-align: right

.tutorialVisible
  position: relative
  z-index: 9500

#dialog.tutorialVisible
  z-index: 10000
