#upgrade_list
  td
    padding: 5px
    vertical-align: middle

  .points
    min-width: 40px
   
  .points td
    border-bottom = !upgrade_list_points_border
    padding: 10px 5px

  .name
    font-weight: bold

  .value
    padding-left: 21px
    background-position: center left
    background-repeat: no-repeat

  .attack .value
    background-image = !upgrade_list_attack_icon

  .defence .value
    background-image = !upgrade_list_defence_icon

  .health .value
    background-image = !upgrade_list_health_icon

  .energy .value
    background-image = !upgrade_list_energy_icon

  .stamina .value
    background-image = !upgrade_list_stamina_icon
    
  .controls
    span.ui-icon-circle-minus
      float: left
      margin-right: 8px
      
    span.ui-icon-circle-plus
      float: left
      margin-left: 10px  
      
    div.attribute_slider
      float: left 
      width: 100px

#upgrade_result
  background:
    image = !upgrade_result_icon
    repeat: no-repeat
  display: none
  padding-left: 20px
  margin: 10px 0

  .value
    font-weight: bold
