!dialog_width = 500px
!dialog_bg_color = white
!dialog_close_icon = url(/images/icons/delete.gif)
!dialog_close_width = 16px
!dialog_close_height = 16px
!dialog_overlay_opacity = 0.6

@import admin/menu
@import dialog

html, body, table
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif

h1
  font-size: 24px
  color: #3B5998
  margin: 0 10px 0 0

h2, h3
  font-size: 16px
  color: #3B5998
  margin-bottom: 7px


td
  vertical-align: top

th
  text-align: left

table.data
  border-collapse: collapse
  border-spacing: 0

  td, th
    padding: 5px
    vertical-align: middle
    border: 1px solid #e3e3e3

  th
    background-color: #FCF5D5

    &.subheader
      background-color: #f1f7fa
      color: #3B5998
      border: 2px solid #8da7e0
      text-align: center

  tr:hover
    td
      background-color: #F9FCC6

  .empty
    font-size: 75%
    font-style: italic

#spinner
  position: absolute
  top: 150px
  left: 300px
  width: 150px
  height: 50px
  border: 1px solid #6D84B4
  padding: 5px
  background-color: white
  z-index: 1000

  img
    float: left
    margin-right: 10px

.title
  margin-top: 20px
  height: 40px

.documentation
  font-size: 12px
  vertical-align: super
  font-weight: normal

.empty_set
  margin: 10px 0px
  padding: 8px
  border: 1px solid #D8DFEA


.note
  margin: 10px 0px
  padding: 8px
  border: 1px solid #D8DFEA
  font-size: 14px


.missing
  color: red
  font-style: italic


.pagination
  margin: 10px 0px
  text-align: right

  .disabled
    display: none

  a, span
    border: 1px solid #3b5998
    padding: 3px

  a:hover
    background-color: #d8dfea

  .current
    background-color: #d8dfea
    font-weight: bold
    color: #3b5998


form
  .required
    color: red
    padding-left: 5px

  .field
    margin-bottom: 10px

    .input
      margin-top: 3px

    label
      color: #3b5998

    .comment
      font-size: 12px
      color: #444444
      padding: 5px 0

  .fieldWithErrors
    display: inline

    select, input, textarea
      border: 1px solid #ee5555

  .error
    color: red
    padding: 3px 0px

  fieldset
    margin-bottom: 10px

    legend
      color: #3b5998
      font-weight: bold
      font-size: 14px

  td
    vertical-align: top

  table
    width: 100%

  .label, .required
    display: inline

  .check_box_list
    .option
      clear: both

    .option_input
      float: left
      margin-right: 5px

  .check_box
    .input
      float: left
      margin: 0 5px 0 0

  .submit_and_continue
    margin-left: 20px

.controls
  padding: 5px

  a
    line-height: 25px
    margin-bottom: 5px
    padding: 3px
    border: 1px solid #3B5998
    white-space: nowrap


.state
  .hidden, .draft
    color: red

  .visible, .delivered
    color: green

  .delivering
    color: blue

  .paused
    color: orange


.serializable
  margin: 20px 0

  .controls
    margin: 10px 0
    padding: 0

    a
      margin: 5px 0px


.serializable_item
  margin: 5px 0px
  padding: 5px
  border: 1px solid #e0e0e0

  h4
    font-size: 15px
    margin-bottom: 5px

  .remove
    float: right


#mission_list, #item_list
  width: 100%

  .name
    font-weight: bold


#newsletter_list
  width: 100%

  .controls
    width: 120px


#promotion_list
  .text
    width: 250px

  .valid
    color: green

  .invalid
    color: red


#stylesheet_list .current
  background-color: #fff1c6


#field_for_stylesheet_content textarea
  width: 750px
  height: 500px
  font-family: monospace


#skin_list .current
  background-color: #fff1c6


#field_for_skin_content textarea
  width: 900px
  height: 400px
  font-family: monospace


#translation_list
  width: 100%

  .splitter
    border: 0

  .key
    width: 40%

  .customized
    .key, .value a
      font-weight: bold


#property_type_list .default
  color: #c0c0c0
  font-style: italic


#field_for_boss_time_limit .after
  margin: -20px 0 0 60px

#setting_list
  .empty
    color: #888888

#character_search
  margin-bottom: 20px

  input
    margin-right: 20px

#character_list
  .profile
    vertical-align: super
    font-size: 10px

#character_batch
  margin-left: 20px

#field_for_help_page_alias
  .label
    display: block
    float: left

  .before_field
    float: left
    clear: left
    margin: 5px 5px 0 0

#vip_money_operations
  width: 100%

  td
    vertical-align: top