@import assets
@import default_skin

@import globals
@import forms
@import common_elements
@import flash_messages

@import admin/menu

@import header
@import main_menu
@import character_overview
@import blocks
@import tutorial
@import result
@import dashboard
@import profile
@import help_requests
@import payouts
@import requirements
@import missions
@import shop
@import inventory
@import fights
@import upgrade
@import invitations
@import alliance
@import rating
@import bank
@import properties
@import premium
@import gifts
@import bosses
@import character_form
@import character_equipment



#promotion_result
  padding: 0px 30px
  background: url(asset:icons_basic_money) 5px 0px no-repeat

  .forward
    margin-top: 25px








#level_up
  padding: 0px 30px
  background: url(asset:icons_level) 5px 0px no-repeat

  .upgrade span
    background-image: url(asset:icons_add)
















