@import assets
@import default_skin

@import globals
@import forms
@import common_elements
@import flash_messages

@import admin/menu

@import header
@import main_menu
@import character_overview
@import blocks
@import tutorial
@import result
@import dashboard
@import profile
@import help_requests
@import payouts
@import requirements
@import missions
@import shop
@import inventory
@import fights
@import upgrade
@import invitations
@import alliance
@import rating
@import bank
@import properties
@import premium
@import gifts
@import bosses
@import character_form



#promotion_result
  padding: 0px 30px
  background: url(asset:icons_basic_money) 5px 0px no-repeat

  .forward
    margin-top: 25px








#level_up
  padding: 0px 30px
  background: url(asset:icons_level) 5px 0px no-repeat

  .upgrade span
    background-image: url(asset:icons_add)
















#placements
  position: relative
  background: url(asset:placements) top left no-repeat
  padding-top: 490px
  width: 100%

  .inventory
    position: relative
    background-color: white

    .remove
      position: absolute
      right: 0
      display: block
      width: 16px
      height: 16px
      background: url(asset:icons_delete) center no-repeat

  .placement
    position: absolute

  .head
    top: 3px
    left: 155px

    .inventory
      width: 72px
      height: 72px

  .right_hand
    top: 111px
    left: 3px

    .inventory
      width: 120px
      height: 120px

  .left_hand
    top: 111px
    left: 261px

    .inventory
      width: 120px
      height: 120px

  .body
    top: 81px
    left: 132px

    .inventory
      width: 120px
      height: 120px

  .legs
    top: 361px
    left: 132px

    .inventory
      width: 120px
      height: 120px

  .additional
    position: relative

    .inventory
      width: 72px
      height: 72px
      margin: 0 10px 10px 0
      float: left
      border: 1px solid #BDC7D8

    .note
      clear: both

      .zero
        color: red
        font-size: 16px


#inventory_for_equipment
  padding-right: 10px
  margin-right: 10px
  border-right: 2px solid #BDC7D8

  .inventory
    padding: 10px 0
    border-top: 1px solid #BDC7D8

    .header
      margin-bottom: 5px

      .name
        font-weight: bold
        font-size: 14px

    .image
      margin-bottom: 5px

    .controls
      select
        float: left

      .button
        margin-top: 0px
        float: left
        clear: none

        span
          background-image: url(asset:icons_accept)


#equipment_inventories
  width: 200px
