h1.title {font-size: 18px; color: #3B5998; margin: 15px 0px;}
h2,h3 {font-size: 16px; color: #3B5998; margin-bottom: 7px;}
td {vertical-align:middle;}
th {padding: 2px;}

#spinner {position: absolute; top:150px; left: 300px; width: 150px; height: 50px; border: 1px solid #6D84B4; padding: 5px; background-color:white; z-index:1000;}
  #spinner img {float:left; margin-right: 10px;}

#admin_menu {margin: 10px; padding: 10px; border: 1px solid green;}
  #admin_menu a { margin: 0 5px; }

.empty_set, .note {margin: 10px 0px; padding: 8px; border: 1px solid #D8DFEA;}
.note {font-size: 14px;}

.pagination {margin: 10px 0px; text-align: right;}
  .pagination .disabled {display:none;}
  .pagination a, .pagination span {border: 1px solid #3b5998; padding: 3px;}
  .pagination a:hover {background-color: #d8dfea;}
  .pagination .current {background-color: #d8dfea; font-weight:bold; color: #3b5998;}

form .required {color: red; padding-left: 5px;}
form .field {margin-bottom: 5px;}
  form .field .label {margin-bottom: 3px;}
  form .field label {color: #3b5998;}
form .fieldWithErrors {display:inline;}
  form .fieldWithErrors select{border: 1px solid #ee5555;}
  form .fieldWithErrors input{border: 1px solid #ee5555;}
  form .fieldWithErrors textarea{border: 1px solid #ee5555;}
form .error {color: red; padding: 3px 0px;}

th.subheader {background-color: #f1f7fa;color: #3B5998;}

form td {vertical-align: top;}
form table {width: 100%;}
form .label, form .required {display:inline}

.controls {padding: 5px;}
  .controls a {margin-bottom: 5px; padding: 3px; border: 1px solid #3B5998;}

.serializable {margin: 0 0 15px 15px;}
  .serializable .controls {margin: 10px 0;}
  .serializable .controls a {margin: 5px 0px;}

.serializable_item {margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #e0e0e0;}
  .serializable_item label {display:block;}
  .serializable_item .remove {float: right}

#mission_list {width: 100%;}
  #mission_list .name {font-weight:bold;}
  #mission_list .controls a {display:block;}

#item_list {width: 100%;}
  #item_list .name {font-weight:bold;}
  #item_list .controls a {display:block;}

#newsletter_list {width: 100%;}
  #newsletter_list .controls {width: 120px;}

#promotion_list .valid {color: green;}
#promotion_list .invalid {color: red;}

#field_for_stylesheet_content textarea {width: 750px; height: 500px; font-family: monospace;}