/*
Sass::SyntaxError: Undefined variable: "!clan_member_delete".
on line 18 of /home/deewild/job-projects/game_engine_dekart/public/stylesheets/sass/clan.sass

14:   .buttons        
15:     .quit 
16:       span
17:         background:
18:           image = !clan_member_delete
19:           repeat: no-repeat
20:           position: 5px center


Backtrace:
/home/deewild/job-projects/game_engine_dekart/public/stylesheets/sass/clan.sass:18
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/script/variable.rb:27:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/prop_node.rb:99:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `map'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:193:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/prop_node.rb:100:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `map'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:193:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/rule_node.rb:160:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `map'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:193:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/rule_node.rb:160:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `map'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:193:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/rule_node.rb:160:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `map'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:193:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/rule_node.rb:160:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `map'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:193:in `perform!'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:181:in `_perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:158:in `perform'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/tree/node.rb:103:in `render'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:97:in `update_stylesheet'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:83:in `update_stylesheets'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:78:in `each'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:78:in `update_stylesheets'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:76:in `each'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:76:in `update_stylesheets'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin.rb:63:in `check_for_updates'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/haml-2.2.20/rails/../lib/sass/plugin/rails.rb:19:in `process'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/base.rb:391:in `process'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/base.rb:386:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/routing/route_set.rb:438:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:87:in `dispatch'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:121:in `_call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activerecord-2.3.11/lib/active_record/query_cache.rb:29:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activerecord-2.3.11/lib/active_record/query_cache.rb:29:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activerecord-2.3.11/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activerecord-2.3.11/lib/active_record/query_cache.rb:9:in `cache'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activerecord-2.3.11/lib/active_record/query_cache.rb:28:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activerecord-2.3.11/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/string_coercion.rb:25:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/head.rb:9:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/methodoverride.rb:24:in `call'
/home/deewild/job-projects/game_engine_dekart/vendor/plugins/facepalm/lib/facepalm/rails/post_canvas_middleware.rb:17:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/params_parser.rb:15:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rails-2.3.11/lib/rails/rack/metal.rb:47:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/session/abstract_store.rb:177:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/activesupport-2.3.11/lib/active_support/cache/strategy/local_cache.rb:25:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/failsafe.rb:26:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/lock.rb:11:in `synchronize'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:114:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/reloader.rb:34:in `run'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:108:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rails-2.3.11/lib/rails/rack/static.rb:31:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/urlmap.rb:47:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `each'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rails-2.3.11/lib/rails/rack/log_tailer.rb:17:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/content_length.rb:13:in `call'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/handler/webrick.rb:48:in `service'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:95:in `start'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `each'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `start'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:23:in `start'
/home/deewild/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:82:in `start'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rack-1.1.2/lib/rack/handler/webrick.rb:14:in `run'
/home/deewild/.rvm/gems/ree-1.8.7-2011.03@rails23/gems/rails-2.3.11/lib/commands/server.rb:111
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!clan_member_delete\".\A on line 18 of /home/deewild/job-projects/game_engine_dekart/public/stylesheets/sass/clan.sass\A \A 14:   .buttons        \A 15:     .quit \A 16:       span\A 17:         background:\A 18:           image = !clan_member_delete\A 19:           repeat: no-repeat\A 20:           position: 5px center\A "; }
