body {
  font-size: 12px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background-color: white; }

a {
  text-decoration: none;
  color: #3b5998; }
  a img {
    border: 0; }

h1 {
  font-size: 18px;
  color: #3b5998;
  margin: 15px 0px; }

h2 {
  font-size: 16px;
  color: #3b5998;
  margin: 0 0 7px 0; }

h3 {
  font-size: 14px;
  color: black;
  margin: 0 0 7px 0; }

td {
  vertical-align: top; }

th {
  text-align: left; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

form label {
  color: #3b5998; }
form .required {
  color: red;
  padding-left: 5px; }
form .field {
  margin-bottom: 5px; }
  form .field .label {
    margin-bottom: 3px; }
form .fieldWithErrors {
  display: inline; }
  form .fieldWithErrors select, form .fieldWithErrors input, form .fieldWithErrors textarea {
    border: 1px solid #ee5555; }
form .error {
  color: red;
  padding: 3px 0px; }

.empty_set {
  margin: 10px 0px;
  padding: 8px;
  border: 1px solid #d8dfea; }

.note {
  margin: 10px 0px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #d8dfea; }
  .note .value {
    font-weight: bold; }

.nobutton .button {
  display: none !important; }

.button {
  display: block;
  width: 130px;
  background-color: white; }
  .button span {
    display: block;
    padding: 5px 5px 5px 22px;
    font-weight: bold;
    background-position: 3px center;
    background-repeat: no-repeat;
    white-space: nowrap;
    border: 1px solid #6d84b4; }
  .button:hover span {
    background-color: #f1f7fa; }

.controls .button {
  width: auto;
  margin: 5px;
  float: right;
  clear: both; }

.pagination {
  margin: 10px 0px;
  text-align: right; }
  .pagination .disabled {
    display: none; }
  .pagination a, .pagination span {
    border: 1px solid #3b5998;
    padding: 3px; }
  .pagination a:hover, .pagination .current {
    color: #3b5998;
    background-color: #d8dfea; }
  .pagination .current {
    font-weight: bold; }

.progress_bar {
  border: 1px solid #d0d0d0; }
  .progress_bar .percentage {
    height: 10px;
    font-size: 0px;
    background-color: #51a2e2;
    background-image: url(/system/assets/000/000/001/original/progress.gif); }
  .progress_bar .complete {
    background-color: #3ddd3d;
    background-image: url(/system/assets/000/000/002/original/progress_completed.gif); }

#flash {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 5px 0; }
  #flash.success {
    color: #338833;
    border: 1px solid #338833;
    background-color: #d0ffd0; }
  #flash.error {
    color: #883333;
    border: 1px solid #883333;
    background-color: #ffd0d0; }
  #flash.notice {
    color: #336788;
    border: 1px solid #336788;
    background-color: #d0efff; }

#admin_menu {
  margin: 10px;
  padding: 10px;
  border: 1px solid green; }
  #admin_menu a {
    margin-right: 10px; }

#header {
  border-bottom: 1px solid #e0e0e0; }

#logo {
  float: left;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/system/assets/000/000/005/original/logo_main.jpg);
  width: 200px;
  height: 75px; }

#tip {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #e0e0e0; }
  #tip .label {
    font-weight: bold;
    color: #3b5998; }

#spinner {
  position: absolute;
  top: 240px;
  left: 300px;
  width: 150px;
  height: 50px;
  padding: 5px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #6d84b4; }
  #spinner img {
    float: left;
    margin-right: 10px;
    margin-left: -1px; }
  #spinner #top_field {
    width: 1px;
    height: 1px;
    border: 0px;
    background-color: transparent;
    float: left; }

#main_menu {
  float: right; }
  #main_menu a {
    display: block;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 10px 0 30px;
    background-position: 8px center;
    background-repeat: no-repeat;
    border: 1px solid transparent; }
    #main_menu a:hover {
      border: 1px solid #d0d0d0; }
    #main_menu a.home {
      background-image: url(/system/assets/000/000/026/original/home.gif); }
    #main_menu a.profile {
      background-image: url(/system/assets/000/000/033/original/profile.gif); }
    #main_menu a.missions {
      background-image: url(/system/assets/000/000/021/original/missions.gif); }
    #main_menu a.fights {
      background-image: url(/system/assets/000/000/022/original/fights.gif); }
    #main_menu a.inventory {
      background-image: url(/system/assets/000/000/023/original/inventory.gif); }
    #main_menu a.shop {
      background-image: url(/system/assets/000/000/011/original/shop.gif); }
    #main_menu a.alliance {
      background-image: url(/system/assets/000/000/014/original/alliance.gif); }
    #main_menu a.rating {
      background-image: url(/system/assets/000/000/015/original/rating.gif); }
    #main_menu a.properties {
      background-image: url(/system/assets/000/000/019/original/properties.gif); }
    #main_menu a.premium {
      background-image: url(/system/assets/000/000/017/original/vip_money.gif); }

#co {
  clear: both;
  border-top: 1px solid #e0e0e0;
  width: 100%; }
  #co td {
    line-height: 25px;
    padding-bottom: 5px; }
  #co .value {
    height: 20px;
    padding-left: 21px;
    background-position: center left;
    background-repeat: no-repeat; }
  #co .timer {
    color: #b0b0b0;
    padding-left: 10px; }
  #co .basic_money {
    width: 130px; }
    #co .basic_money .value {
      background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #co .level {
    width: 80px; }
    #co .level .value {
      background-image: url(/system/assets/000/000/034/original/level.gif); }
  #co .experience {
    width: 120px; }
    #co .experience .value {
      background-image: url(/system/assets/000/000/031/original/experience.gif); }
    #co .experience .progress_bar {
      margin-top: 5px;
      margin-right: 5px; }
      #co .experience .progress_bar .percentage {
        height: 4px; }
  #co .vip_money .value {
    background-image: url(/system/assets/000/000/017/original/vip_money.gif); }
  #co .health .value {
    background-image: url(/system/assets/000/000/013/original/health.gif); }
  #co .energy .value {
    background-image: url(/system/assets/000/000/020/original/energy.gif); }
  #co .stamina .value {
    background-image: url(/system/assets/000/000/024/original/stamina.gif); }
  #co .upgrade {
    font-weight: bold;
    color: red; }

.block {
  margin: 10px 0px;
  padding: 8px; }
  .block h2 {
    margin-bottom: 15px; }
  .block .hide {
    float: right;
    padding-left: 14px;
    background-image: url(/system/assets/000/000/018/original/hide.gif);
    background-repeat: no-repeat;
    background-position: center left; }

#next_steps {
  border: 1px solid #ec7000;
  background-color: #ffffd5; }
  #next_steps h2 {
    color: #ec7000; }
  #next_steps .step {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 25px;
    background-image: url(/system/assets/000/000/027/original/step.gif);
    background-repeat: no-repeat;
    background-position: top left; }

#fan_specials {
  border: 1px solid #3ebace;
  background-color: #f1f7fa; }
  #fan_specials h2 {
    color: #003f95; }
  #fan_specials .button {
    display: block;
    margin: 5px auto;
    width: 116px;
    text-align: center; }

#bookmark {
  border: 1px solid #3ebace;
  background-color: #f1f7fa; }
  #bookmark h2 {
    color: #003f95; }
  #bookmark img {
    vertical-align: middle;
    margin-left: 10px; }
  #bookmark p {
    font-weight: bold;
    margin: 0; }

#tutorial {
  border: 2px solid #bdc7d8;
  padding: 10px; }
  #tutorial .step {
    margin-bottom: 5px; }
  #tutorial .current {
    font-size: 15px; }
  #tutorial .complete_mark {
    color: #00d000;
    vertical-align: super;
    font-size: 10px;
    display: none; }
  #tutorial .continue {
    margin: 10px;
    display: none; }
    #tutorial .continue span {
      background-image: url(/system/assets/000/000/032/original/accept.gif); }
  #tutorial .completed .complete_mark {
    display: inline; }
  #tutorial .completed .button {
    display: block; }

#result {
  font-size: 13px;
  margin: 10px 0;
  padding: 10px 0;
  border: 2px solid #3b5998; }
  #result .result_content {
    padding: 0px 30px;
    background-position: 5px 0px;
    background-repeat: no-repeat; }
  #result td {
    padding-right: 15px; }
  #result h2 {
    margin-top: 10px; }
  #result h3 {
    font-size: 13px; }
  #result p {
    font-size: 13px;
    margin-top: 0; }
  #result .success {
    color: green; }
  #result .fail {
    color: red; }
  #result .payouts {
    width: 690px; }
  #result .loot {
    clear: both; }
  #result .buttons {
    float: right; }
  #result .button {
    clear: right;
    margin: 0 0 10px 10px; }
  #result .publish span {
    background-image: url(/system/assets/000/000/008/original/publish.gif); }
  #result .requirements .health, #result .requirements .attack, #result .requirements .defence, #result .requirements .alliance, #result .requirements .health_point {
    clear: both; }
  #result .requirements .item {
    float: left;
    margin: 0 10px 2px 0; }
    #result .requirements .item .amount {
      text-align: center; }

#dashboard {
  width: 100%; }
  #dashboard .profile {
    width: 250px;
    padding-right: 10px; }

#fight_list td {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0; }
#fight_list .fight {
  clear: both;
  margin: 5px 0; }
#fight_list .attacker {
  width: 60px;
  text-align: left; }
  #fight_list .attacker img {
    border: 1px solid #d0d0d0; }
#fight_list .victim {
  width: 60px;
  text-align: right; }
  #fight_list .victim img {
    border: 1px solid #d0d0d0; }
#fight_list .time {
  font-weight: bold;
  margin-bottom: 5px; }
#fight_list span {
  line-height: 20px;
  padding: 2px 0px 2px 21px;
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: bold; }
#fight_list .basic_money {
  background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
#fight_list .health {
  background-image: url(/system/assets/000/000/013/original/health.gif); }
#fight_list .experience {
  background-image: url(/system/assets/000/000/031/original/experience.gif); }
#fight_list .respond span {
  background-image: url(asset:icons_attack); }

.character_attributes {
  padding: 0; }
  .character_attributes tr {
    height: 25px;
    line-height: 25px; }
  .character_attributes th {
    padding-right: 15px; }
  .character_attributes .value {
    padding-left: 21px;
    background-position: center left;
    background-repeat: no-repeat; }
  .character_attributes .attack .value {
    background-image: url(/system/assets/000/000/009/original/attack.gif); }
  .character_attributes .defence .value {
    background-image: url(/system/assets/000/000/028/original/defence.gif); }
  .character_attributes .health .value {
    background-image: url(/system/assets/000/000/013/original/health.gif); }
  .character_attributes .energy .value {
    background-image: url(/system/assets/000/000/020/original/energy.gif); }
  .character_attributes .stamina .value {
    background-image: url(/system/assets/000/000/024/original/stamina.gif); }
  .character_attributes .basic_money .value {
    background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  .character_attributes .vip_money .value {
    background-image: url(/system/assets/000/000/017/original/vip_money.gif); }

#character .controls {
  clear: both; }
  #character .controls a {
    float: left; }
  #character .controls .attack span {
    background-image: url(/system/assets/000/000/009/original/attack.gif); }
  #character .controls .upgrade span {
    background-image: url(/system/assets/000/000/025/original/add.gif); }
#character .info {
  width: 100%;
  margin-bottom: 15px; }
  #character .info .character_statistics tr {
    height: 25px;
    line-height: 25px; }
  #character .info .character_statistics th {
    padding-right: 15px; }
  #character .info .rank_list .rank {
    padding: 3px 25px;
    background-image: url(/system/assets/000/000/034/original/level.gif);
    background-position: 3px center;
    background-repeat: no-repeat; }
#character .item_group .item, #character .properties .item {
  float: left;
  text-align: center;
  font-weight: bold; }
#character .item_group .item {
  width: 85px;
  height: 135px; }
#character .properties .item {
  width: 130px;
  height: 170px; }

#latest_help_request {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 12px;
  border: 1px solid #e7e7e7; }
  #latest_help_request .basic_money, #latest_help_request .experience {
    line-height: 22px;
    height: 22px;
    padding: 5px 0 5px 21px;
    font-weight: bold;
    background-position: center left;
    background-repeat: no-repeat; }
  #latest_help_request .basic_money {
    background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #latest_help_request .experience {
    background-image: url(/system/assets/000/000/031/original/experience.gif); }

#help_request_result {
  background-image: url(/system/assets/000/000/014/original/alliance.gif); }

.payouts .payout {
  height: 25px;
  line-height: 25px;
  padding-left: 21px;
  background-position: left;
  background-repeat: no-repeat;
  clear: both;
  white-space: nowrap;
  margin-bottom: 5px; }
  .payouts .payout .value {
    font-weight: bold;
    margin-right: 3px; }
.payouts .experience {
  background-image: url(/system/assets/000/000/031/original/experience.gif); }
.payouts .basic_money {
  background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
.payouts .vip_money {
  background-image: url(/system/assets/000/000/017/original/vip_money.gif); }
.payouts .health {
  background-image: url(/system/assets/000/000/013/original/health.gif); }
.payouts .energy {
  background-image: url(/system/assets/000/000/020/original/energy.gif); }
.payouts .stamina {
  background-image: url(/system/assets/000/000/024/original/stamina.gif); }
.payouts .restore_health {
  background-image: url(/system/assets/000/000/013/original/health.gif); }
.payouts .restore_energy {
  background-image: url(/system/assets/000/000/020/original/energy.gif); }
.payouts .upgrade {
  background-image: url(/system/assets/000/000/034/original/level.gif); }
.payouts .mercenaries {
  background-image: url(/system/assets/000/000/014/original/alliance.gif); }
.payouts .attack {
  background-image: url(/system/assets/000/000/009/original/attack.gif); }
.payouts .defence {
  background-image: url(/system/assets/000/000/028/original/defence.gif); }
.payouts .item, .payouts .property, .payouts .random_item {
  height: 40px !important;
  padding-left: 0; }
  .payouts .item .label, .payouts .property .label, .payouts .random_item .label {
    line-height: 40px; }
    .payouts .item .label .name, .payouts .property .label .name, .payouts .random_item .label .name {
      font-weight: bold; }
  .payouts .item .value, .payouts .property .value, .payouts .random_item .value {
    display: block;
    float: left;
    margin-right: 5px;
    line-height: 0; }

.requirements .requirement {
  height: 25px;
  line-height: 25px;
  padding-left: 21px;
  background-position: left;
  background-repeat: no-repeat;
  clear: both;
  white-space: nowrap;
  margin-bottom: 5px; }
.requirements .value {
  font-weight: bold; }
.requirements .basic_money {
  background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
.requirements .vip_money {
  background-image: url(/system/assets/000/000/017/original/vip_money.gif); }
.requirements .health_point {
  background-image: url(/system/assets/000/000/013/original/health.gif); }
.requirements .energy {
  background-image: url(/system/assets/000/000/020/original/energy.gif); }
.requirements .stamina {
  background-image: url(/system/assets/000/000/024/original/stamina.gif); }
.requirements .alliance {
  background-image: url(/system/assets/000/000/014/original/alliance.gif); }
.requirements .attack {
  background-image: url(/system/assets/000/000/009/original/attack.gif); }
.requirements .defence {
  background-image: url(/system/assets/000/000/028/original/defence.gif); }
.requirements .item {
  height: 40px !important;
  padding-left: 0; }
  .requirements .item .image {
    display: block;
    float: left;
    margin-right: 5px;
    line-height: 0; }
  .requirements .item .label {
    line-height: 40px; }
.requirements .not_satisfied {
  color: #ff5353;
  font-weight: bold; }
  .requirements .not_satisfied img {
    border: 3px solid #ff5353; }

#mission_group_list {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  #mission_group_list table {
    width: 100%; }
  #mission_group_list .mission_group {
    text-align: center;
    padding: 5px; }
  #mission_group_list .current {
    font-weight: bold;
    background-color: #e8ebf3; }
  #mission_group_list .name {
    font-size: 16px; }
  #mission_group_list .level {
    padding-top: 3px; }

#locked_mission_group {
  margin-top: 30px; }
  #locked_mission_group .level {
    font-size: 14px;
    font-weight: bold; }

#mission_list table {
  width: 100%; }
#mission_list td {
  padding: 10px 0px;
  border-bottom: 1px solid #e0e0e0; }
#mission_list .info {
  padding-right: 15px;
  width: 60%; }
  #mission_list .info .name {
    font-size: 16px;
    font-weight: bold; }
  #mission_list .info .image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
#mission_list .payouts, #mission_list .requirements, #mission_list .description, #mission_list .name {
  margin-bottom: 10px; }
#mission_list .progress .text {
  font-weight: bold; }
#mission_list .progress .progress_bar {
  width: 50%; }
#mission_list .controls a span {
  background-image: url(/system/assets/000/000/021/original/missions.gif); }

#mission_result {
  background-image: url(/system/assets/000/000/021/original/missions.gif); }
  #mission_result .spent b {
    width: 55px; }
  #mission_result .spent .zero .value {
    font-weight: bold;
    color: green;
    font-size: 14px; }
  #mission_result .spent .zero .relation {
    padding-left: 10px; }
  #mission_result .title {
    line-height: 22px;
    padding-left: 23px;
    background-image: url(/system/assets/000/000/034/original/level.gif);
    background-position: center left;
    background-repeat: no-repeat;
    font-size: 14px;
    margin-bottom: 15px; }
  #mission_result .fulfill_again {
    width: 120px; }
    #mission_result .fulfill_again span {
      background-image: url(/system/assets/000/000/021/original/missions.gif); }
  #mission_result .request_help {
    width: 230px; }
    #mission_result .request_help span {
      background-image: url(/system/assets/000/000/014/original/alliance.gif); }
  #mission_result .progress .progress_bar {
    width: 150px; }
  #mission_result .child_missions {
    margin: 15px 0; }
    #mission_result .child_missions .child {
      line-height: 22px;
      padding-left: 23px;
      background-image: url(/system/assets/000/000/021/original/missions.gif);
      background-position: center left;
      background-repeat: no-repeat;
      margin-bottom: 15px; }

#item_groups {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin: 10px 0 15px 0; }
  #item_groups a, #item_groups .current {
    padding: 0 15px;
    line-height: 30px;
    height: 30px;
    display: block;
    float: left;
    font-weight: bold;
    border: 1px solid transparent; }
  #item_groups .current {
    font-size: 16px;
    background-color: #e8ebf3; }
  #item_groups a {
    font-size: 14px; }
    #item_groups a:hover {
      background-color: #e8ebf3; }

#item_list {
  width: 100%; }
  #item_list td {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0; }
  #item_list .picture {
    width: 80px; }
  #item_list .info {
    padding-right: 10px; }
    #item_list .info .name {
      font-size: 16px;
      font-weight: bold; }
    #item_list .info .name, #item_list .info .description {
      margin-bottom: 10px; }
    #item_list .info .limit {
      color: red; }
  #item_list .info, #item_list .payouts, #item_list .requirements {
    padding-right: 10px; }
  #item_list .controls {
    text-align: right;
    width: 130px; }
    #item_list .controls select {
      margin: 5px; }
    #item_list .controls a.buy span {
      background-image: url(/system/assets/000/000/016/original/basic_money.gif); }

#special_items {
  border: 2px solid #ec7000;
  margin-bottom: 10px;
  padding: 10px; }
  #special_items .items {
    width: 100%; }
  #special_items .item {
    padding-right: 5px; }
  #special_items .name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px; }
  #special_items .picture {
    float: left;
    margin-right: 10px; }
  #special_items .requirements, #special_items .payouts {
    margin-left: 80px;
    margin-bottom: 10px; }
  #special_items .requirements .requirement, #special_items .payouts .payout {
    clear: none; }
  #special_items .controls {
    float: left;
    clear: both; }
    #special_items .controls select {
      margin: 5px;
      float: left; }
    #special_items .controls .button {
      float: left;
      clear: none; }
    #special_items .controls .buy span {
      background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #special_items .limit {
    color: red; }

#next_item {
  margin-top: 30px;
  border: 1px solid #d0d0d0;
  padding: 10px;
  font-size: 14px; }
  #next_item .level {
    font-size: 14px;
    font-weight: bold; }

#shop_result {
  background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #shop_result .inventory {
    width: 150px; }
    #shop_result .inventory span {
      background-image: url(/system/assets/000/000/023/original/inventory.gif); }

#inventory_buttons {
  margin-bottom: 15px; }
  #inventory_buttons .button {
    float: left;
    width: auto;
    margin-right: 15px; }
  #inventory_buttons .shop span {
    background-image: url(/system/assets/000/000/011/original/shop.gif); }
  #inventory_buttons .inventory span {
    background-image: url(/system/assets/000/000/023/original/inventory.gif); }
  #inventory_buttons .equipment span {
    background-image: url(/system/assets/000/000/033/original/profile.gif); }

#inventory_list table {
  width: 100%; }
#inventory_list th {
  padding-top: 10px; }
#inventory_list td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0; }
#inventory_list .info .name {
  font-size: 16px;
  font-weight: bold; }
#inventory_list .info .name, #inventory_list .info .description {
  margin-bottom: 5px; }
#inventory_list .payouts {
  padding-right: 10px; }
#inventory_list .stats {
  font-weight: bold; }
  #inventory_list .stats .owned, #inventory_list .stats .used {
    margin-bottom: 5px; }
  #inventory_list .stats .value {
    font-weight: normal; }
#inventory_list .spacer {
  border: 0; }
#inventory_list .controls {
  width: 90px;
  width: 200px;
  text-align: right; }
  #inventory_list .controls select {
    margin: 5px; }
  #inventory_list .controls .sell span {
    background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #inventory_list .controls .use span {
    background-image: url(/system/assets/000/000/032/original/accept.gif); }

#inventory_sell_result {
  background-image: url(/system/assets/000/000/016/original/basic_money.gif); }

#inventory_use_result {
  background-image: url(/system/assets/000/000/032/original/accept.gif); }

#fight_attributes {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0; }
  #fight_attributes th {
    font-size: 14px; }
  #fight_attributes td {
    padding: 5px 0; }
  #fight_attributes .values div {
    display: inline;
    line-height: 22px;
    height: 22px;
    padding: 2px 5px 2px 21px;
    background-position: center left;
    background-repeat: no-repeat; }
  #fight_attributes .attack {
    background-image: url(/system/assets/000/000/009/original/attack.gif); }
  #fight_attributes .defence {
    background-image: url(/system/assets/000/000/028/original/defence.gif); }
  #fight_attributes .relations {
    background-image: url(/system/assets/000/000/014/original/alliance.gif); }

#victim_list td {
  padding: 10px 0;
  vertical-align: middle;
  border-bottom: 1px solid #e0e0e0; }
#victim_list .picture {
  padding-right: 10px; }
#victim_list .name {
  width: 200px; }
#victim_list .level {
  width: 80px; }
#victim_list .relations .larger {
  color: red; }
#victim_list .controls .attack span {
  background-image: url(/system/assets/000/000/022/original/fights.gif); }
#victim_list .invitee {
  color: green; }

#fight_result {
  background-image: url(/system/assets/000/000/022/original/fights.gif); }
  #fight_result .lost b, #fight_result .victim_lost b {
    width: 55px; }
  #fight_result .attack_again span {
    background-image: url(/system/assets/000/000/022/original/fights.gif); }
  #fight_result .request_help {
    width: 190px; }
    #fight_result .request_help span {
      background-image: url(/system/assets/000/000/014/original/alliance.gif); }
  #fight_result .details {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    width: 100%;
    margin: 0px auto; }
    #fight_result .details .vs {
      width: 65px;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 160px;
      vertical-align: middle; }
    #fight_result .details .attacker, #fight_result .details .victim {
      width: 280px; }
      #fight_result .details .attacker .attributes .attack, #fight_result .details .victim .attributes .attack {
        background-image: url(/system/assets/000/000/009/original/attack.gif); }
      #fight_result .details .attacker .attributes .defence, #fight_result .details .victim .attributes .defence {
        background-image: url(/system/assets/000/000/028/original/defence.gif); }
      #fight_result .details .attacker .attributes .relations, #fight_result .details .victim .attributes .relations {
        background-image: url(/system/assets/000/000/014/original/alliance.gif); }
    #fight_result .details .attacker {
      text-align: right; }
      #fight_result .details .attacker .character .picture {
        float: right;
        margin-left: 10px; }
      #fight_result .details .attacker .attributes div {
        float: right;
        margin-left: 10px; }
      #fight_result .details .attacker .best_items img {
        margin-left: 10px; }
    #fight_result .details .victim .character .picture {
      float: left;
      margin-right: 10px; }
    #fight_result .details .victim .attributes div {
      float: left;
      margin-right: 10px; }
    #fight_result .details .victim .best_items img {
      margin-right: 10px; }
    #fight_result .details .character {
      height: auto;
      font-size: 14px; }
      #fight_result .details .character .name {
        font-weight: bold;
        margin-bottom: 5px; }
      #fight_result .details .character .level {
        margin-top: 5px; }
    #fight_result .details .attributes {
      margin-top: 5px;
      height: 30px; }
      #fight_result .details .attributes div {
        padding-left: 20px;
        line-height: 22px;
        background-position: center left;
        background-repeat: no-repeat; }
    #fight_result .details .best_items {
      clear: both; }
      #fight_result .details .best_items strong {
        display: block;
        margin-bottom: 5px;
        font-size: 14px; }
  #fight_result .item_details {
    text-align: center;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px; }
    #fight_result .item_details .attacker {
      width: 280px; }
    #fight_result .item_details .items {
      text-align: left; }
      #fight_result .item_details .items strong {
        display: block;
        margin-bottom: 5px; }
    #fight_result .item_details .victim {
      padding-left: 85px; }
    #fight_result .item_details .group {
      margin-bottom: 10px; }

#upgrade_list td {
  padding: 5px;
  vertical-align: middle; }
#upgrade_list .points td {
  border-bottom: 1px solid #e0e0e0; }
#upgrade_list .name {
  font-weight: bold; }
#upgrade_list .value {
  padding-left: 21px;
  background-position: center left;
  background-repeat: no-repeat; }
#upgrade_list .attack .value {
  background-image: url(/system/assets/000/000/009/original/attack.gif); }
#upgrade_list .defence .value {
  background-image: url(/system/assets/000/000/028/original/defence.gif); }
#upgrade_list .health .value {
  background-image: url(/system/assets/000/000/013/original/health.gif); }
#upgrade_list .energy .value {
  background-image: url(/system/assets/000/000/020/original/energy.gif); }
#upgrade_list .stamina .value {
  background-image: url(/system/assets/000/000/024/original/stamina.gif); }
#upgrade_list .controls .upgrade span {
  margin-top: 0;
  background-image: url(/system/assets/000/000/025/original/add.gif); }

#upgrade_result {
  background-image: url(/system/assets/000/000/025/original/add.gif); }
  #upgrade_result .value {
    font-weight: bold; }

#invitations {
  border: 2px solid #338833; }

#invitation_list {
  width: 100%; }
  #invitation_list td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0; }
  #invitation_list .picture {
    width: 55px; }
  #invitation_list .level {
    width: 70px; }
  #invitation_list .controls .accept span {
    background-image: url(/system/assets/000/000/032/original/accept.gif); }
  #invitation_list .controls .ignore span {
    background-image: url(/system/assets/000/000/012/original/delete.gif); }

#invitation td {
  padding: 5px;
  vertical-align: middle; }
#invitation .picture {
  width: 55px; }
#invitation .level {
  width: 70px; }
#invitation .controls .accept span {
  background-image: url(/system/assets/000/000/032/original/accept.gif); }
#invitation .controls .ignore span {
  background-image: url(/system/assets/000/000/012/original/delete.gif); }

#invitation_result {
  background-image: url(/system/assets/000/000/014/original/alliance.gif); }

#alliance_buttons {
  margin-bottom: 15px; }
  #alliance_buttons .button {
    float: left;
    width: auto;
    margin-right: 15px; }
  #alliance_buttons .relations span {
    background-image: url(/system/assets/000/000/014/original/alliance.gif); }
  #alliance_buttons .invite span {
    background-image: url(/system/assets/000/000/025/original/add.gif); }
  #alliance_buttons .gifts span {
    background-image: url(/system/assets/000/000/030/original/gift.gif); }
  #alliance_buttons .mercenaries span {
    background-image: url(/system/assets/000/000/025/original/add.gif); }

#alliance_members {
  padding-right: 10px; }
  #alliance_members td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0; }
  #alliance_members .picture {
    width: 55px; }
  #alliance_members .level {
    width: 70px; }
  #alliance_members .controls .delete span {
    background-image: url(/system/assets/000/000/012/original/delete.gif); }

#assignments {
  width: 250px;
  margin: 15px 0; }
  #assignments b {
    font-size: 12px;
    display: block;
    margin-bottom: 10px; }
  #assignments .position {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0; }
  #assignments .effect {
    font-style: italic;
    font-size: 14px;
    margin-top: 5px; }
  #assignments .description {
    font-style: italic; }
  #assignments .controls {
    float: right;
    margin-top: -25px; }
    #assignments .controls .promote span {
      background-image: url(/system/assets/000/000/032/original/accept.gif); }
    #assignments .controls .demote span {
      background-image: url(/system/assets/000/000/012/original/delete.gif); }

#new_assignment table {
  width: 100%; }
#new_assignment .relations {
  margin-top: 10px;
  height: 200px;
  display: block;
  overflow: auto; }
  #new_assignment .relations th {
    padding: 5px; }
  #new_assignment .relations td {
    cursor: pointer;
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0; }
  #new_assignment .relations .picture {
    width: 60px; }
  #new_assignment .relations .relations .name {
    padding-right: 10px; }
  #new_assignment .relations .selected {
    background-color: #ffffd5;
    font-weight: bold; }
    #new_assignment .relations .selected td {
      padding: 4px;
      border-top: 1px solid #ec7000;
      border-bottom: 1px solid #ec7000; }
    #new_assignment .relations .selected .picture {
      border-left: 1px solid #ec7000; }
    #new_assignment .relations .selected .effect {
      border-right: 1px solid #ec7000; }
#new_assignment .tabs {
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0; }
  #new_assignment .tabs a {
    margin-right: 15px; }
  #new_assignment .tabs .selected {
    font-weight: bold;
    font-size: 14px; }

#invitation_form td {
  vertical-align: top; }
#invitation_form .invitation_type {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0; }
#invitation_form .invitation_text {
  margin: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #3b5998; }
#invitation_form .publish {
  width: 150px;
  margin: auto; }
  #invitation_form .publish span {
    clear: right;
    background-image: url(/system/assets/000/000/008/original/publish.gif); }
#invitation_form #chat_invitation {
  padding-left: 10px; }

#rating_buttons {
  margin-bottom: 15px; }
  #rating_buttons .button span {
    float: left;
    margin-right: 15px;
    width: 130px;
    background-image: url(/system/assets/000/000/015/original/rating.gif); }

#rating_list .rating {
  margin-bottom: 30px; }
  #rating_list .rating td {
    padding: 5px 10px;
    vertical-align: middle; }
  #rating_list .rating th {
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #e0e0e0; }
  #rating_list .rating .current {
    font-weight: bold;
    background-color: #ffffd5; }
    #rating_list .rating .current td {
      border-top: 1px solid #ec7000;
      border-bottom: 1px solid #ec7000; }
    #rating_list .rating .current .position {
      border-left: 1px solid #ec7000;
      font-size: 16px;
      color: #3b5998; }
    #rating_list .rating .current .last {
      border-right: 1px solid #ec7000; }
  #rating_list .rating .position {
    font-size: 14px;
    font-weight: bold; }

#bank {
  width: 100%; }

#bank_balance {
  font-size: 14px;
  padding: 10px 0;
  font-weight: bold; }
  #bank_balance .value {
    padding-left: 21px;
    background-image: url(/system/assets/000/000/016/original/basic_money.gif);
    background-position: center left;
    background-repeat: no-repeat;
    font-weight: normal; }

#property_income {
  margin-bottom: 10px; }
  #property_income .value {
    line-height: 22px;
    height: 22px;
    padding: 5px 0 5px 21px;
    background-image: url(/system/assets/000/000/016/original/basic_money.gif);
    background-position: center left;
    background-repeat: no-repeat; }

#property_list table {
  width: 100%; }
#property_list td {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #e0e0e0; }
#property_list .picture {
  width: 130px; }
#property_list .info .name {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold; }
#property_list .controls {
  text-align: right; }
  #property_list .controls select {
    margin: 5px; }
  #property_list .controls .buy span {
    background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #property_list .controls .sell span {
    background-image: url(/system/assets/000/000/016/original/basic_money.gif); }

#property_result {
  background-image: url(/system/assets/000/000/016/original/basic_money.gif); }

#current_vip_money {
  font-size: 14px;
  margin-bottom: 15px; }
  #current_vip_money .value {
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    padding: 5px 0 5px 21px;
    background-image: url(/system/assets/000/000/017/original/vip_money.gif);
    background-position: center left;
    background-repeat: no-repeat; }

#premia {
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: auto; }
  #premia td {
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0; }
  #premia .name {
    width: 300px; }
  #premia .basic_money, #premia .points {
    line-height: 22px;
    height: 22px;
    padding: 5px 0 5px 21px;
    font-weight: bold;
    background-position: center left;
    background-repeat: no-repeat; }
  #premia .basic_money {
    background-image: url(/system/assets/000/000/016/original/basic_money.gif); }
  #premia .points {
    background-image: url(/system/assets/000/000/034/original/level.gif); }
  #premia .controls .button {
    width: 100px; }
    #premia .controls .button span {
      background-image: url(/system/assets/000/000/032/original/accept.gif); }

#gift_form .buttons {
  float: right; }
  #gift_form .buttons .skip {
    width: 70px; }
    #gift_form .buttons .skip span {
      background-image: url(/system/assets/000/000/026/original/home.gif); }
#gift_form .item {
  padding: 5px;
  text-align: center;
  float: left;
  margin: 0 10px 10px 0;
  overflow: hidden;
  width: 150px;
  height: 170px;
  border: 1px solid #e0e0e0; }
  #gift_form .item .name {
    font-weight: bold; }
  #gift_form .item .payouts {
    margin-top: 5px; }
    #gift_form .item .payouts .payout {
      display: inline; }
#gift_form .gift {
  margin-bottom: 15px; }
#gift_form .friend_groups {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px; }
  #gift_form .friend_groups a {
    padding: 5px;
    margin: 0 5px; }
    #gift_form .friend_groups a.current {
      border: 1px solid #d0d0d0;
      color: #333333; }

#gift_result {
  background-image: url(/system/assets/000/000/030/original/gift.gif); }
  #gift_result .pending {
    width: 160px; }
    #gift_result .pending span {
      background-image: url(/system/assets/000/000/023/original/inventory.gif); }
  #gift_result .play_now {
    width: 95px; }
    #gift_result .play_now span {
      background-image: url(/system/assets/000/000/026/original/home.gif); }
  #gift_result .details td {
    padding: 0 15px;
    text-align: center; }
  #gift_result .details .item {
    font-weight: bold; }
  #gift_result .details .from {
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle; }

#promotion_result {
  padding: 0px 30px;
  background: url(asset:icons_basic_money) 5px 0px no-repeat; }
  #promotion_result .forward {
    margin-top: 25px; }

#level_up {
  padding: 0px 30px;
  background: url(asset:icons_level) 5px 0px no-repeat; }
  #level_up .upgrade span {
    background-image: url(asset:icons_add); }

#boss_list .boss {
  margin-top: 15px;
  border: 2px solid #BDC7D8;
  padding: 10px;
  width: 100%; }
  #boss_list .boss .image {
    width: 220px; }
  #boss_list .boss .details {
    width: 100%; }
#boss_list .buttons .attack span {
  background-image: url(asset:icons_fights); }

#boss_fight_block {
  padding: 10px;
  border: 2px solid #BDC7D8; }
  #boss_fight_block .boss_fight {
    margin: 5px 0; }
  #boss_fight_block .image {
    float: left;
    padding-right: 10px; }
  #boss_fight_block .text {
    font-size: 14px; }
    #boss_fight_block .text .name {
      font-weight: bold; }
  #boss_fight_block .timer {
    margin-top: 10px;
    font-weight: bold; }
    #boss_fight_block .timer .value {
      font-weight: normal; }
  #boss_fight_block .buttons {
    float: right;
    padding-left: 10px; }
    #boss_fight_block .buttons .attack span {
      background-image: url(asset:icons_fights); }

#boss_fight_result {
  padding: 0px 30px;
  background: url(asset:icons_missions) 5px 0px no-repeat; }
  #boss_fight_result .details {
    width: 100%; }
    #boss_fight_result .details .character, #boss_fight_result .details .boss {
      width: 220px; }
    #boss_fight_result .details .name {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold; }
    #boss_fight_result .details .message {
      margin-top: 10px; }
      #boss_fight_result .details .message span {
        font-weight: bold; }
    #boss_fight_result .details .character .message .attacker, #boss_fight_result .details .boss .message .victim {
      color: green; }
    #boss_fight_result .details .character .message .victim, #boss_fight_result .details .boss .message .attacker {
      color: red; }
    #boss_fight_result .details .buttons {
      float: none; }
      #boss_fight_result .details .buttons .button {
        margin-left: 0; }
      #boss_fight_result .details .buttons .attack span {
        background-image: url(asset:icons_fights); }
      #boss_fight_result .details .buttons .publish span {
        background-image: url(asset:icons_publish); }
  #boss_fight_result .progress .progress_bar {
    width: 100px; }
  #boss_fight_result .middle .result {
    font-size: 16px;
    margin-bottom: 15px; }
    #boss_fight_result .middle .result span {
      font-weight: bold; }
  #boss_fight_result .timer {
    margin-top: 10px;
    font-weight: bold; }
    #boss_fight_result .timer .value {
      font-weight: normal; }
  #boss_fight_result .lost .result, #boss_fight_result .expired .result {
    color: red; }
  #boss_fight_result .won .result {
    color: green; }
  #boss_fight_result .payouts {
    margin-top: 20px; }

#new_character .field {
  margin-bottom: 10px; }
#new_character .label {
  font-size: 16px; }
#new_character .note {
  font-size: 12px; }

#character_types {
  margin-bottom: 10px; }
  #character_types .character_type {
    display: block;
    width: 125px;
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 10px 10px 0 0;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #e0e0e0; }
    #character_types .character_type:hover {
      border: 1px solid #3B5998; }
    #character_types .character_type .name {
      display: block;
      margin-bottom: 5px; }
  #character_types .selected {
    border: 2px solid #3B5998 !important;
    padding: 1px !important; }

#placements {
  position: relative;
  background: url(asset:placements) top left no-repeat;
  padding-top: 490px;
  width: 100%; }
  #placements .inventory {
    position: relative;
    background-color: white; }
    #placements .inventory .remove {
      position: absolute;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      background: url(asset:icons_delete) center no-repeat; }
  #placements .placement {
    position: absolute; }
  #placements .head {
    top: 3px;
    left: 155px; }
    #placements .head .inventory {
      width: 72px;
      height: 72px; }
  #placements .right_hand {
    top: 111px;
    left: 3px; }
    #placements .right_hand .inventory {
      width: 120px;
      height: 120px; }
  #placements .left_hand {
    top: 111px;
    left: 261px; }
    #placements .left_hand .inventory {
      width: 120px;
      height: 120px; }
  #placements .body {
    top: 81px;
    left: 132px; }
    #placements .body .inventory {
      width: 120px;
      height: 120px; }
  #placements .legs {
    top: 361px;
    left: 132px; }
    #placements .legs .inventory {
      width: 120px;
      height: 120px; }
  #placements .additional {
    position: relative; }
    #placements .additional .inventory {
      width: 72px;
      height: 72px;
      margin: 0 10px 10px 0;
      float: left;
      border: 1px solid #BDC7D8; }
    #placements .additional .note {
      clear: both; }
      #placements .additional .note .zero {
        color: red;
        font-size: 16px; }

#inventory_for_equipment {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid #BDC7D8; }
  #inventory_for_equipment .inventory {
    padding: 10px 0;
    border-top: 1px solid #BDC7D8; }
    #inventory_for_equipment .inventory .header {
      margin-bottom: 5px; }
      #inventory_for_equipment .inventory .header .name {
        font-weight: bold;
        font-size: 14px; }
    #inventory_for_equipment .inventory .image {
      margin-bottom: 5px; }
    #inventory_for_equipment .inventory .controls select {
      float: left; }
    #inventory_for_equipment .inventory .controls .button {
      margin-top: 0px;
      float: left;
      clear: none; }
      #inventory_for_equipment .inventory .controls .button span {
        background-image: url(asset:icons_accept); }

#equipment_inventories {
  width: 200px; }
