<% dialog :id => :clan_state_notification do |d| %>
  <h2><%= t(".#{notification.status}.title") %></h2>
  
  <table width="100%">
    <tr>
      <td>
        <div class="text">
          <%= t(".#{notification.status}.text",
                :clan => content_tag(:strong, notification.clan.name)
              ).html_safe %>
        </div>
      </td>
      <td class="avatar">
        <%= clan_avatar(notification.clan, :width => 100) %>
      </td>
    </tr>  
  </table>
  
  <%= render("notifications/disable", :notification => notification) %>

<% end %>
