<div class="disable_notification">
  <%= link_to(t(".disable"), disable_notification_path(notification),
        :remote => "true",
        :method => :post,
        :confirm  => t(".confirm", :type => notification.title)
      ) %>
</div>
