<% dialog :information do |d| %>
  <h2><%= t(".title", :app => t('app_name')) %></h2>

  <div class="text">
    <%= simple_format(message.content.html_safe, {}, :sanitize => false) %>
  </div>

  <div class="buttons clearfix">
    <%= link_to(button(:close), '#',
          :onclick => '$.dialog.close()',
          :class => "button"
        ) %>
  </div>
<% end %>