<% dialog :id => :information do |d| %>
  <h2><%= t(".title", :app => t('app_name')) %></h2>

  <p class="text">
    <%= notification.message.content %>
  </p>

  <%= render("notifications/disable", :notification => notification) %>
<% end %>