<% if @newsfeed.any? %>
  <h2 class="title">
    <%= @character == current_character ?
            t(".title_my") :
            t(".title", :user => character_name(@character, :possessive => true)) %>
  </h2>

  <% @newsfeed.each do |news| %>
    <div class="news">
      <span class="character"><%= link_to news.character.name, character_path(news.character.key) %></span>
      <span class="content">
        <%= render :partial => "newsfeeds/#{news.class.to_s.underscore}", :locals => {:news => news} %>
      </span>
      <div class="time"><%= time_ago_in_words(news.created_at) %></div>
    </div>
  <% end %>
<% end %>
