<table class="details expired">
  <tr>
    <td class="character">
      <%= render("boss_fights/create/character",
            :fight    => fight,
            :picture  => :small
          ) %>
    </td>
    <td class="middle">
      <div class="result">
        <%= raw t(".messages.result",
              :boss => content_tag(:span, fight.boss.name, :class => :boss)
            ) %>
      </div>
    </td>
    <td class="boss">
      <%= render("boss_fights/create/boss",
            :fight    => fight,
            :picture  => :normal
          ) %>
    </td>
  </tr>
</table>

<% content_for :script do %>
  BossFight.hideReminder('<%= dom_id(fight) %>')
<% end %>