<p><strong><%= t(".title") %></strong><p>

<table class="participants" cellspacing="0" cellpadding="0">
  <% members.each do |member| %>
    <% unless member.creator? %>
      <%= render("edit_participants_list", :member => member) %>
    <% end %>
  <% end %>
</table>