<div id="tutorial">
  
  <div id="tutorial_overlay"></div>
  
  <%= render('tutorials/steps') %>

  <%= render('tutorials/progress') %>
  
</div>

<% dom_ready do %>
  $(document).one('tutorial.next_step', function() {
    <%= javascript_for_next_step_trigger %>
  });
<% end %>
