<% if @show_progress %>
  <div id="tutorial_progress">
    <div id="skip_tutorial" class="block">
      <%= hide_block_link('tutorial',
            :title => t("tutorial.skip"),
            :before => "Tutorial.hide()"
          ) %>
    </div>

    <h3><%= t("tutorial.progress") %></h3>

    <%= percentage_bar(step_index.to_f / (Tutorial::STEPS.size - 1).to_f * 100,
          t("tutorial.steps.current",
            :name     => step_title,
            :current  => step_index,
            :total    => Tutorial::STEPS.size - 1
          )
        ) %>
  </div>
<% end %>
