<%= title(fb_i(t(".title"))) %>

<div id="tutorial" class="note">
  <%= fb_i(t(".text")) %>

  <%= link_to(fb_i(t(".next")), {:action => :step_1}, {:class => :button}) %>
</div>

<%= render :partial => "skip" %>