<div class="actor">
  <%= character_picture_link(news.character) %>
</div>

<div class="subject">
  <%= boost_image(news.boost, :icon) %>
</div>

<div class="description">
  <%= t(".text",
        :actor  => character_name_link(news.character, {}, {:useyou => true, :capitalize => true}),
        :boost  => content_tag(:strong, news.boost.name),
        :amount => content_tag(:strong, news.amount)
      ).html_safe %>
</div>