<div class="newsfeed" id="newsfeed">
  <h3>
    <%= character == current_character ?
            t(".title_my") :
            t(".title", :user => character_name(character, :possessive => true)) %>
  </h3>

  <% collection(news) do %>
    <% news.each do |post| %>
      <% content_tag(:div, :class => [post.type_name, :news, :clearfix].join(' '), :id => dom_id(post)) do %>
        <div class="time"><%= l(post.created_at, :format => :short) %>:</div>

        <%= render("news/#{post.type_name}", :news => post) %>
      <% end %>
    <% end %>
  <% end %>
</div>
