<div class="actor">
  <%= character_picture_link(news.character) %>
</div>

<% if news.monster.pictures? %>
  <div class="subject">
    <%= image_tag(news.monster.pictures.url(:icon)) %>
  </div>
<% end %>

<div class="description">
  <%= t(news.monster_fight.summoner? ? '.text.summoned' : '.text.joined',
        :actor    => character_name_link(news.character, {}, {:useyou => true, :capitalize => true}),
        :monster  => strong_tag(news.monster.name)
      ).html_safe %>
</div>

<div class="controls">
  <%= link_to_function(button(:attack), "MonsterController.show(#{news.monster.id})", :class => 'attack button') if news.monster.progress? %>
</div>


