<% collection(items) do %>
  <div class="gifts clearfix">
    <% items.each do |item| %>
      <% content_tag(:div, :class => :gift, :'data-url' => polymorphic_path(gift, :item_id => item.id), :'data-method' => (gift.new_record? ? :post : :put)) do %>
        <div class="image"><%= item_image(item, :small) %></div>

        <div class="name"><%= item.name %></div>

        <div class="payouts">
          <%= render "items/effects", :item => item %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
