<% dialog :id => :gift_dialog do %>
  <h3><%= t('.title') %></h3>
  
  <p><%= t('.message') %></p>
<% end %>

<% dom_ready do %>
  <%= ga_track_event('Gifts', 'Sent', @item.name, @requests_amount) %>
<% end %>