<%= form.text_field :name, :required => true %>

<% form.field_set(t(".items")) do %>
  <div id="item_set" class="items">
    <%= form.error_message_on :items %>

    <% form.object.items.each do |item, frequency| %>
      <%= render("item_fields", :item => item, :frequency => frequency) %>
    <% end %>
  </div>

<%= link_to(t(".add_item"), add_item_admin_item_sets_path,
      :remote => true,
      :class => :add_item
    ) %>
<% end %>