<div class="buttons clearfix" id="rating_buttons">
  <% unless current == :rating %>
    <%= link_to(button(:rating), rating_path, :class => :button) %>
  <% end %>

  <% if current != :contest && current_contest && current_contest.started? %>
    <%= link_to(button(current_contest.name), contest_path(current_contest), :class => :button)%>
  <% end %>
</div>
