<script id='online-characters-template' type = 'text/x-jquery-tmpl'>
  <div class="character clearfix {{if friend}}friend{{/if}}">
    <div class="picture">
      <a href="/characters/${character_key}" title="${name}">
        <%= fb_graph_user_image_tag("${facebook_id}", "square", :alt => '${name}') %>
      </a>
    </div>
    <div class="info">
      <div class="level"><%= t(".level", :value => "${level}") %></div>
      <div class="name">
        <a href="/characters/${character_key}">${name}</a>
      </div>
    </div>
  </div>
</script>