<% result_for(:premia) do |builder| %>
  <% if flash[:success] %>
    <% builder.success do %>
      <%= flash[:success] %>
    <% end %>
  <% else %>
    <% builder.fail do %>
      <%= flash[:error] %>
      <p>
        <%= t(".premium.text", 
                :premium_page => link_to(t(".premium.page"), premium_path(:anchor => "get_more_vip"))
             ).html_safe %>
      </p>
    <% end %>
  <% end %>

  <% builder.on_ready do %>
    $('#current_vip_money .value').html(<%= current_character.vip_money %>);
  <% end %>
<% end %>
