<% result_for(:premia) do |builder| %>
  <% if flash[:success] %>
    <% builder.success do %>
      <%= flash[:success] %>
    <% end %>
  <% else %>
    <div class="unsatisfied_requirements">
      <%= render("requirements/not_satisfied/vip_money",
            :requirement  => Requirements::VipMoney.new()
          ) %>
    </div>
  <% end %>

  <% builder.on_ready do %>
    $('#current_vip_money .value').html(<%= current_character.vip_money %>);
  <% end %>
<% end %>
