table.data
  border-collapse: collapse
  border-spacing: 0
  margin-bottom: 20px

  td, th
    padding: 5px
    vertical-align: middle
    border: 1px solid #e3e3e3

  th
    background-color: #FCF5D5

    &.subheader
      background-color: #f1f7fa
      color: #3B5998
      border: 2px solid #8da7e0
      text-align: center

  tr:hover
    > td
      background-color: #F9FCC6

  .empty
    font-size: 75%
    font-style: italic

  tr.payment
    background-color: #D9FEFC

  tr.recent
    background-color: #E0FFDA

.data_filter
  margin: 10px 0 25px 0
  padding: 5px
  border: 1px solid #8da7e0

  ul
    float: left
    margin-right: 20px

#visits_data
  .dates, .hourly
    padding-left: 50px

#complaints_list
  .profile
    font-size: 10px
    vertical-align: super

#complaint
  .cause, .description, .owner, .offender
    padding: 5px 0

  .profile
    font-size: 10px
    vertical-align: super

#statistics_data
  .separator
    border-top: 3px solid #c3c3c3

#visits_data
  .data
    .cheater
      background-color: #ffa1f6

