<div id="level_up">
  <%= link_to(fb_i(t(".buttons.upgrade")), upgrade_character_url(current_character, :canvas => true), :class => "upgrade button") %>

  <h2><%= fb_i(t(".title")) %></h2>

  <div class="text">
    <% fb_i do %>
      <%= t(".text") %>
    
      <%= fb_it(:upgrade, link_to(fb_i(t(".upgrade_link")), upgrade_character_url(current_character, :canvas => true)))  %>
    <% end %>
  </div>
</div>