<div id="level_up">
  <div class="buttons">
    <%= link_to(button(:upgrade), upgrade_character_url(current_character),
          :class => "upgrade button"
        ) %>
  </div>

  <h2><%= fb_i(t(".title")) %></h2>

  <div class="text">
    <% fb_i t(".text") do %>
      <%= fb_it(:upgrade, link_to(fb_i(t(".upgrade_link")), upgrade_character_url(current_character)))  %>
    <% end %>
  </div>
</div>

<% content_for :script do %>
  Character.onNewLevel();

  <%= character_level_up_stream_dialog %>
<% end %>