<div id="level_up">
  <div class="buttons">
    <%= link_to(button(:upgrade), upgrade_character_url(current_character),
          :class => "upgrade button"
        ) %>
  </div>

  <h2><%= t(".title") %></h2>

  <div class="text">
    <%=raw t(".text",
          :upgrade => link_to(t(".upgrade_link"), upgrade_character_url(current_character))
        ) %>
  </div>
</div>

<% content_for :script do %>
  Character.onNewLevel();

  <%= character_level_up_stream_dialog %>
<% end %>