<div class="serializable" >
  <div id="effect_list">
    <% form.object.effects.each do |effect| %>
      <%= content_tag(:div,
            render("admin/effects/effect", :effect => effect, :container => form.object_name),
            :class  => "effect",
            :id     => "effect_#{effect.object_id}"
          ) %>
    <% end %>
  </div>

  <div class="controls">
    <b><%= t(".add_effect") %></b>

    <% Effects::Base.types.each do |type| %>
      <%= link_to_remote(t("effects.#{type.effect_name}.name"),
            :url    => new_admin_effect_path(:type => type.effect_name, :container => form.object_name),
            :method => :get,
            :update => :result
          ) %>
    <% end %>
  </div>
</div>