<div class="serializable">
  <div id="effect_list" class="list">
    <% form.object.effects.each do |effect| %>
      <%= render("admin/effects/effect",
            :effect  => effect,
            :container    => form.object_name
          ) %>
    <% end %>
  </div>

  <div class="controls">
    <b><%= t(".add_effect") %></b>

    <% Effects::Base.types.sort_by{|type| t("effects.#{type.effect_name}.name") }.each do |type| %>
      <%= link_to_remote(t("effects.#{type.effect_name}.name"),
            :url    => new_admin_effect_path(:type => type.effect_name, :container => form.object_name),
            :method => :get,
            :update => :result
          ) %>
    <% end %>
  </div>
</div>

<% dom_ready do %>
  SerializableList.init('#effect_list', '<%= form.object_name %>[effects]');
<% end %>
