<div class="controls">
  <b><%= t(".add_effect") %></b>

  <% Effects::Base.types.each do |type| %>
    <%= link_to_remote(t("effects.#{type.effect_name}.name"),
          :url    => new_admin_effect_url(
            :type       => type.effect_name,
            :container  => form.object_name,
            :canvas     => false
          ),
          :method => :get,
          :update => :result
        ) %>
  <% end %>
</div>

<% form.object.effects.each do |effect| %>
    <%= content_tag(:div,
          render(
            :partial  => "admin/effects/effect",
            :locals   => {
              :effect     => effect,
              :container  => form.object_name
            }
          ),
          :class  => "effect",
          :id     => "effect_#{effect.object_id}"
        ) %>
<% end %>
