<div class="<%= effect.name %>">
  <% if effect.respond_to?(:state) and effect.state != 'visible' %>
    <span class="state"><%= admin_state(effect, :controls => false) %></span>
  <% end %>

  <div class="value">
    <%= "%s: %d" % [Item.human_attribute_name(effect.name), effect.value] %>
  </div>
</div>
