<%= title(t('.title')) %>

<%= render("relations/buttons", :current => :accept_requests) %>

<div id="app_requests"></div>

<% dom_ready do %>
  AppRequestController.show(<%= current_character.app_requests.to_json.html_safe %>);
<% end %>

