<div id="latest_help_request">
  <%= t(".text.#{context}",
        {
          :friend_amount      => content_tag(:strong, help_request.help_results.size),
          :money_amount       => content_tag(:span, number_to_currency(help_request.money), :class => :basic_money),
          :experience_amount  => content_tag(:span, help_request.experience, :class => :experience)
        }.merge(
          context == :mission ? {
            :mission => content_tag(:strong, help_request.context.name)
          } : {
            :victim => character_name_link(help_request.context.victim)
          }
        )
      ).html_safe %>
</div>
