<div class="limit">
  <% if item.available_till %>
    <span class="time_limit">
      <%= t(".time_limit") %>

      <strong id="<%= dom_id(item, :timer) %>"></strong>
    </span>

    <% dom_ready do %>
      new VisualTimer(['#<%= dom_id(item, :timer) %>']).start(<%= item.time_left %>);
    <% end %>
  <% end %>
</div>
