<div class="limit">
  <% if item.available_till %>
    <span class="time_limit">
      <%= t(".time_limit") %>

      <strong id="<%= dom_id(item, :timer) %>" data-time-left="<%= item.time_left %>"></strong>
    </span>
  <% end %>
</div>
