<div class="item_list clearfix">
  <% items.each do |item| %>
    <%= render('item', :item => item) %>
  <% end %>

  <% if local_assigns[:next_items] && !next_items.empty? %>
    <% next_items.each do |item| %>
      <%= render('item_locked', :item => item) %>
    <% end %>
  <% end %>
</div>
