<% if item.price? %>
  <h3><%= Item.human_attribute_name("price") %></h3>

  <%= attribute_requirement(:basic_money, number_to_currency(item.basic_price)) if item.basic_price > 0 %>
  <%= vip_money_requirement(item.vip_price) if item.vip_price > 0 %>
<% else %>
  <strong><%= t(".free") %></strong>
<% end %>