<div id="item_groups" class="clearfix">
  <% groups.each do |group| %>
    <%= link_to(group.name, item_group_items_path(:item_group_id => group.id), 
          :class => (:current if group == current)
        ) %>
  <% end %>
  
  <%= link_to(t('.services'), premium_path(:anchor => :services), :class => :services) %>
  <%= link_to(t('.buy_vip'), premium_path(:anchor => :buy), :class => :buy) %>
</div>
