<table>
  <tr>
    <td>
      <%= form.select :item_set_id, ItemSet.all.to_dropdown, :include_blank => true %>
    </td>
    <td>OR</td>
    <td>
      <%= form.text_field :value, :size => 6, :autocomplete => :off %>
      <%= form.select :availability, Item::AVAILABILITIES, :include_blank => "-- Any --" %>
      <%= form.check_box :allow_vip %>
    </td>
  </tr>
</table>
