<% dialog do %>
  <%= t(".message") %>

  <div id="bank_balance">
    <%= raw t(".balance",
          :amount => content_tag(:span, number_to_currency(current_character.bank), :class => :value)
        ) %>
  </div>
<% end %>