<% dialog do %>
  <%= t(".message") %>

  <div id="bank_balance">
    <%= t(".balance",
          :amount => span_tag(number_to_currency(current_character.bank), :value)
        ).html_safe %>
  </div>
<% end %>
