<% dialog do %>
  <%= t(".message") %>

  <div id="bank_balance">
    <%= t(".balance",
          :amount => '<span class="value">%s</span>' % number_to_currency(current_character.bank)
        ).html_safe %>
  </div>
<% end %>
