<h2><%= t(".title") %></h2>

<p>
  <%= t(".message") %>
</p>

<% if result.group_payouts.try(:any?) %>
  <div class="payouts">
    <div class="received">
      <h3><%= t(".you_received") %></h3>

      <%= payout_list(result.group_payouts, :add) %>
    </td>
  </div>
<% end %>
