<table cellspacing="0" cellpadding="0">
  <tr>
    <% mission_group_tabs do |tabs| %>
      <% tabs.previous_tab do |group| %>
        <% content_tag_for :td, group, :class => "previous first" do %>
          <%= link_to(t(".previous.name"), mission_group_path(group),
                :class => :name
              ) %>
        <% end %>
      <% end %>

      <% tabs.group_tab do |group, locked, current, position| %>
        <% content_tag_for(:td, group, :class => [(:locked if locked), (:current if current), position].compact.join(" ")) do %>
          <%= link_to(locked ? t(".locked") : group.name, mission_group_path(group),
                :class => :name
              ) %>

          <%= requirement_list(group.requirements[0, 1]) %>
        <% end %>
      <% end %>

      <% tabs.next_tab do |group| %>
        <% content_tag_for :td, group, :class => "next last" do %>
          <%= link_to(t(".next.name"), mission_group_path(group),
                :class => :name
              ) %>
        <% end %>
      <% end %>
    <% end %>
  </tr>
</table>