<% collection(missions) do %>
  <table cellspacing="0" cellpadding="0">
    <% mission_list(missions) do |mission, level, progress| %>
      <%= render('missions/mission',
            :mission  => mission,
            :level    => level,
            :progress => progress
          ) %>
    <% end %>
  </table>
<% end %>
