<% collection(missions) do %>
  <table cellspacing="0" cellpadding="0">
    <% missions.each do |mission| %>
      <% if mission.visible_for?(current_character) %>
        <%= render(mission) %>
      <% end %>
    <% end %>
  </table>
<% end %>
