<div id="admin_menu">
  <%= link_to(t(".home"), root_path, :class => :app) %>

  <h2><%= t(".title") %></h2>

  <%
    [
      [:character_types, admin_character_types_path],
      [:item_groups,     admin_item_groups_path],
      [:items,           admin_items_path],
      [:mission_groups,  admin_mission_groups_path],
      [:missions,        admin_missions_path],
      [:bosses,          admin_bosses_path],
      [:property_types,  admin_property_types_path],
      [:statistics,      admin_statistics_path],
      [:newsletter,      admin_newsletters_path],
      [:promotions,      admin_promotions_path],
      [:skins,           admin_skins_path],
      [:tips,            admin_tips_path],
      [:assets,          admin_assets_path],
      [:translations,    admin_translations_path],
      [:configurations,  edit_admin_configuration_path(Configuration.current)]
    ].each do |title, link|
  %>
    <%= link_to(t(".#{title}"), link, :target => :admin) %>
  <% end %>
</div>