<div id="admin_menu">
  <%
    [
      [
        :statistics,
        [
          [:dashboard,        admin_statistics_path,            %w{statistics}, %w{index}],
          [:users,            user_admin_statistics_path,       %w{statistics}, %w{user}],
          [:vip_money,        vip_money_admin_statistics_path,  %w{statistics}, %w{vip_money}],
          [:visits,           visits_admin_statistics_path,     %w{statistics}, %w{visits}],
          [:payments,         payments_admin_statistics_path,   %w{statistics}, %w{payments}],
          [:retention,        retention_admin_statistics_path,  %w{statistics}, %w{retention}],
          [:sociality,        sociality_admin_statistics_path,  %w{statistics}, %w{sociality}],
          [:characters,       admin_characters_path],
        ]
      ],
      [
        :content,
        [
          [:character_types,    admin_character_types_path],
          [:missions,           admin_missions_path, %w{missions mission_groups mission_levels}],
          [:monster_types,      admin_monster_types_path],
          [:items,              admin_items_path, %w{items item_groups}],
          [:item_collections,   admin_item_collections_path],
          [:property_types,     admin_property_types_path],
          [:stories,            admin_stories_path],
          [:global_payouts,     admin_global_payouts_path],
          [:contests,           admin_contests_path],
          [:achievement_types,  admin_achievement_types_path],
        ]
      ],
      [
        :support,
        [
          [:help_pages,       admin_help_pages_path],
          [:promotions,       admin_promotions_path],
          [:messages,         admin_messages_path],
          [:complaints,       admin_complaints_path]
        ]
      ],
      [
        :configuration,
        [
          [:translations,     admin_translations_path],
          [:settings,         admin_settings_path],
          [:credit_packages,  admin_credit_packages_path],
          [:global_tasks,     admin_global_task_path],
        ]
      ]
    ].each do |group, links| %>
      <div class="item_group">
        <h3><%= t(".#{group}") %></h3>

        <% links.each do |link| %>
          <%= admin_menu_link(*link) %>
        <% end %>
      </div>
  <% end %>
</div>
