<div id="admin_menu">
  <%
    [
      [
        :users,
        [
          [:statistics,       admin_statistics_path],
          [:characters,       admin_characters_path],
        ]
      ],
      [
        :content, 
        [
          [:character_types,  admin_character_types_path],
          [:missions,         admin_missions_path, %w{missions mission_groups mission_levels}],
          [:monster_types,    admin_monster_types_path],
          [:items,            admin_items_path, %w{items item_groups}],
          [:item_collections, admin_item_collections_path],
          [:property_types,   admin_property_types_path],
          [:titles,           admin_titles_path],
          [:stories,          admin_stories_path],
          [:global_payouts,   admin_global_payouts_path],
          [:contests,         admin_contests_path],
        ]
      ],
      [
        :support,
        [
          [:tips,             admin_tips_path],
          [:help_pages,       admin_help_pages_path],
          [:promotions,       admin_promotions_path],
          [:messages,         admin_messages_path]
        ]
      ],
      [
        :configuration,
        [
          [:translations,     admin_translations_path],
          [:assets,           admin_assets_path],
          [:settings,         admin_settings_path],
          [:credit_packages,  admin_credit_packages_path],
          [:global_tasks,     admin_global_task_path],
        ]
      ]
    ].each do |group, links| %>
      <div class="item_group">
        <h3><%= t(".#{group}") %></h3>
        
        <% links.each do |name, link, controllers| %>
          <%= link_to(t(".#{name}"), link,
                :class => "item %s" % (:current if controller_name == name.to_s || (Array.wrap(controllers).include?(controller_name)))
              ) %>
        <% end %>
      </div>
  <% end %>
</div>
