<%= link_to_remote(@translation.value.present? ? @translation.value : ('<span class="empty>%s</span>' % t(".no_value")).html_safe,
      :url    => edit_admin_translation_path(@translation),
      :method => :get,
      :update => translation_id(@translation.key)
    ) %>

<% dom_ready do %>
  $('#<%= translation_id(@translation.key) %>').parent().addClass('customized');
<% end %>
