$asset_logo_stream: url("/system/assets/000/000/275/original/logo_stream.jpg?1317810800")
$asset_spinner: url("/system/assets/000/000/276/original/spinner.gif?1317810800")
$asset_icons_vip_money: url("/system/assets/000/000/277/original/vip_money.gif?1317810800")
$asset_icons_collections: url("/system/assets/000/000/278/original/collections.png?1317810800")
$asset_icons_basic_money: url("/system/assets/000/000/279/original/basic_money.gif?1317810800")
$asset_icons_missions: url("/system/assets/000/000/280/original/missions.gif?1317810800")
$asset_icons_defence: url("/system/assets/000/000/281/original/defence.gif?1317810800")
$asset_icons_drag_n_drop_item: url("/system/assets/000/000/282/original/drag_n_drop_item.png?1317810801")
$asset_icons_level: url("/system/assets/000/000/283/original/level.gif?1317810801")
$asset_icons_previous: url("/system/assets/000/000/284/original/previous.png?1317810801")
$asset_icons_chat: url("/system/assets/000/000/285/original/chat.png?1317810801")
$asset_icons_help: url("/system/assets/000/000/286/original/help.gif?1317810801")
$asset_icons_gift: url("/system/assets/000/000/287/original/gift.gif?1317810801")
$asset_icons_delete: url("/system/assets/000/000/288/original/delete.gif?1317810801")
$asset_icons_exchange: url("/system/assets/000/000/289/original/exchange.png?1317810801")
$asset_icons_next: url("/system/assets/000/000/290/original/next.png?1317810802")
$asset_icons_attack: url("/system/assets/000/000/291/original/attack.gif?1317810802")
$asset_icons_monsters: url("/system/assets/000/000/292/original/monsters.png?1317810802")
$asset_icons_fights: url("/system/assets/000/000/293/original/fights.gif?1317810802")
$asset_icons_experience: url("/system/assets/000/000/294/original/experience.gif?1317810802")
$asset_icons_rating: url("/system/assets/000/000/295/original/rating.gif?1317810802")
$asset_icons_alliance: url("/system/assets/000/000/296/original/alliance.gif?1317810802")
$asset_icons_health: url("/system/assets/000/000/297/original/health.gif?1317810803")
$asset_icons_achievement: url("/system/assets/000/000/298/original/achievement.gif?1317810803")
$asset_icons_credits: url("/system/assets/000/000/299/original/credits.png?1317810803")
$asset_icons_lock: url("/system/assets/000/000/300/original/lock.png?1317810803")
$asset_icons_time: url("/system/assets/000/000/301/original/time.png?1317810803")
$asset_icons_shop: url("/system/assets/000/000/302/original/shop.gif?1317810803")
$asset_icons_add: url("/system/assets/000/000/303/original/add.gif?1317810803")
$asset_icons_publish: url("/system/assets/000/000/304/original/publish.gif?1317810804")
$asset_icons_energy: url("/system/assets/000/000/305/original/energy.gif?1317810804")
$asset_icons_app_requests: url("/system/assets/000/000/306/original/app_requests.gif?1317810804")
$asset_icons_stamina: url("/system/assets/000/000/307/original/stamina.gif?1317810804")
$asset_icons_inventory: url("/system/assets/000/000/308/original/inventory.gif?1317810804")
$asset_icons_accept: url("/system/assets/000/000/309/original/accept.gif?1317810804")
$asset_icons_home: url("/system/assets/000/000/310/original/home.gif?1317810804")
$asset_icons_properties: url("/system/assets/000/000/311/original/properties.gif?1317810804")
$asset_icons_hide: url("/system/assets/000/000/312/original/hide.gif?1317810805")
$asset_icons_step: url("/system/assets/000/000/313/original/step.gif?1317810805")
$asset_icons_profile: url("/system/assets/000/000/314/original/profile.gif?1317810805")
$asset_stream_exchange: url("/system/assets/000/000/315/original/exchange.jpg?1317810805")
$asset_stream_rating: url("/system/assets/000/000/316/original/rating.jpg?1317810805")
$asset_placements: url("/system/assets/000/000/317/original/placements.gif?1317810805")
$asset_admin_expanded: url("/system/assets/000/000/318/original/expanded.png?1317810806")
$asset_admin_collapsed: url("/system/assets/000/000/319/original/collapsed.png?1317810806")
$asset_spot: url("/system/assets/000/000/320/original/spot.png?1317810806")
$asset_progress_completed: url("/system/assets/000/000/321/original/progress_completed.gif?1317810807")
$asset_mercenary: url("/system/assets/000/000/322/original/mercenary.gif?1317810807")
$asset_logo_main: url("/system/assets/000/000/323/original/logo_main.jpg?1317810807")
$asset_progress: url("/system/assets/000/000/324/original/progress.gif?1317810807")
$asset_1px: url("/system/assets/000/000/325/original/1px.gif?1317810807")
$asset_achievement: url("/system/assets/000/000/326/original/achievement.png?1317810807")
$asset_credit_package: url("/system/assets/000/000/327/original/credit_package.jpg?1317810808")
$asset_random_item: url("/system/assets/000/000/328/original/random_item.gif?1317810808")
$asset_mission_placeholder: url("/system/assets/000/000/329/original/mission_placeholder.png?1317873237")
