.dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: $content_bg_color;
  width: 730px;

  & > .close {
    float: right;
    width: 20px;
    height: 20px;
    margin: 15px 15px 0 0;
    cursor: pointer;
    background: {
      image: image-url('icons/delete.png');
      position: center;
      repeat: no-repeat;
    }
  }

  .content {
    margin: 15px;
  }
}

.dialog_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;

  @include opacity(0);
}