<div id="bn_top">
  <% if facebook_params["locale"] == "tr_TR" %>
    <fb:iframe scrolling="false" frameborder="0" width="640" height="60" src="http://sadan.freehostia.com/reklam6.php"></fb:iframe>
  <% elsif facebook_params["locale"] == "es_LA" %>
    <fb:iframe src='http://rya.rockyou.com/ams/ad.php?placeguid=CC95D30539&type=Banner' style='border:0px;' width='646' height='70' scrolling='no' frameborder='0'/>
  <% else %>
    <fb:iframe src="http://rya.rockyou.com/ams/ad.php?placeguid=0D0C929526&type=Banner" style='border:0px;' width='646' height='70' scrolling='no' frameborder='0' />
  <% end %>
</div>
