<div id="bookmark" class="block">
  <%= hide_block_link(:bookmark) %>

  <p>
    <% fb_i do %>
      <%= t(".text") %>

      <%= fb_it(:app, fb_app_name) %>
    <% end %>
  </p>

  <fb:bookmark />
</div>