<div id="bookmark" class="block">
  <%= hide_block_link(:bookmark) %>

  <p>
    <% fb_i do %>
      <%= t(".text") %>

      <%= fb_it(:app, fb_app_name) %>
    <% end %>

    <%= asset_image_tag("bookmark") %>
  </p>
</div>