<div id="fan_specials" class="block">
  <%= hide_block_link(:fan_specials) %>

  <h2><%= t(".title") %></h2>

  <p>
    <%= t(".text", :app => t("app_name")).html_safe  %>
  </p>

  <div
    class="fb-like-box"
    data-href="<%= Setting.s(:app_fan_page_url) %>"
    data-width="230"
    data-show-faces="true"
    data-stream="false"
    data-header="false"
    data-border-color="white"
    style="background-color: white"
  ></div>
</div>
