<div id="fan_specials" class="block">
  <%= hide_block_link(:fan_specials) %>

  <h2><%= t(".title") %></h2>

  <p>
    <%= raw t(".text", :app => t("app_name"))  %>
  </p>

  <%= link_to(button(:become_fan), fb_app_page_url, :class => "button") %>
</div>