<% requirement(requirement.name, false) do %>
  <p>
    <%= t(".message",
          :premium_page => link_to(t("layouts.main_menu.items"), items_path(:anchor => :services))
        ).html_safe %>
  </p>
<% end %>
