<% requirement(requirement.name, false) do %>
  <% if current_character.energy_points >= requirement.value %>
    <p>
      <%= t(".restorable.message",
            :required_value => strong_tag(requirement.value),
            :restore_time   => strong_tag((current_character.ep_restore_time(requirement.value) / 1.minute).ceil)
          ).html_safe %>
    </p>

    <div class="buttons">
      <%= link_to_function(button(:refill), "EnergyRefillDialogController.show()", :class => "button")%>
    </div>

  <% else %>
    <p>
      <%= t(".low_base_level.message",
            :premium_page => link_to(t("layouts.main_menu.items"), items_path(:anchor => :services))
          ).html_safe %>
    </p>

    <div class="buttons">
      <%= link_to(button(:get_points), items_path(:anchor => :services),
            :class => "premium button"
          ) %>
    </div>
  <% end %>
<% end %>
