<% requirement(requirement.name, false) do %>
  <p>
    <% if requirement.value %>
      <%= t(".message",
            :required_value => span_tag(requirement.value, :vip_money)
          ).html_safe %>
    <% else %>
      <%= t(".message_without_value").html_safe %>
    <% end %>
  </p>

  <div class="buttons">
    <%= link_to_function(button(:buy_vip_money), "BuyVipDialogController.show()", :class => "button")%>
  </div>

  <% dom_ready do %>
    BuyVipDialogController.show();
  <% end %>
<% end %>
